<section data-mw-section-id="17" id="mwAk8"><h2 id="Controversies">Controversies</h2>
<section data-mw-section-id="18" id="mwAlA"><h3 id="Banking_secrecy">Banking secrecy</h3>
<!--This section is meant to be the *most comprehensive treatment of Swiss banking secrecy* on Wikipedia, everything else should be directed or redirected appropriately. --><!--Do NOT add any tax evasion aspects to this section. Take it to the succeeding section called "tax evasion".--><!--Maintain WP:NPOV or else contributions will be removed.-->
<link about="#mwt568" data-mw='{"parts":[{"template":{"target":{"wt":"Main","href":"./Template:Main"},"params":{"1":{"wt":"Federal Act on Banks and Savings Banks#Revisions"}},"i":0}}]}' href="mw-data:TemplateStyles:r1033289096" id="mwAlE" rel="mw-deduplicated-inline-style" typeof="mw:Extension/templatestyles mw:Transclusion"/><div about="#mwt568" class="hatnote navigation-not-searchable" id="mwAlI" role="note">Main article: <a href="./Federal_Act_on_Banks_and_Savings_Banks#Revisions" rel="mw:WikiLink" title="Federal Act on Banks and Savings Banks">Federal Act on Banks and Savings Banks §<span typeof="mw:Entity"> </span>Revisions</a></div><!--The state of banking secrecy in the 21st century, parable with a focus to the most recent year e.g. 2017, 2018, etc.--><!--Maintain WP:NPOV or else contributions will be removed.-->
<link about="#mwt573" data-mw='{"parts":[{"template":{"target":{"wt":"quote box\n","href":"./Template:Quote_box"},"params":{"width":{"wt":"22em"},"fontsize":{"wt":"95%"},"quote":{"wt":"[Banking secrecy] is comparable to [[medical privacy|medical confidentiality]] ... [Switzerland] must absolutely respect the private sphere ... [no one should] know what there is in your bank account."},"source":{"wt":"[[Ueli Maurer]], former [[President of the Swiss Confederation|President of Switzerland]] in 2013&lt;ref&gt;{{cite web|url=http://www.indianexpress.com/news/swiss-president-sees-no-need-to-change-banking-secrecy/1102358/|title=Swiss president sees no need to change banking secrecy|date=2013-04-14|publisher=Indian Express|access-date=2013-04-14}}&lt;/ref&gt;"}},"i":0}}]}' href="mw-data:TemplateStyles:r1062260506" id="mwAlM" rel="mw-deduplicated-inline-style" typeof="mw:Extension/templatestyles mw:Transclusion"/><div about="#mwt573" class="quotebox pullquote floatright" id="mwAlQ" style="
    width:22em; 
    
;
    font-size: 95%; 
    
    ">
<blockquote class="quotebox-quote left-aligned" style="
    ">
<p>[Banking secrecy] is comparable to <a href="./Medical_privacy" rel="mw:WikiLink" title="Medical privacy">medical confidentiality</a> ... [Switzerland] must absolutely respect the private sphere ... [no one should] know what there is in your bank account.</p>
</blockquote>
<p><cite class="left-aligned" style=""><a href="./Ueli_Maurer" rel="mw:WikiLink" title="Ueli Maurer">Ueli Maurer</a>, former <a href="./President_of_the_Swiss_Confederation" rel="mw:WikiLink" title="President of the Swiss Confederation">President of Switzerland</a> in 2013<sup about="#mwt582" class="mw-ref reference" data-mw='{"name":"ref","attrs":{},"body":{"id":"mw-reference-text-cite_note-71"}}' id="cite_ref-71" rel="dc:references" typeof="mw:Extension/ref"><a href="./Banking_in_Switzerland#cite_note-71" id="mwAlU" style="counter-reset: mw-Ref 71;"><span class="mw-reflink-text" id="mwAlY">[71]</span></a></sup></cite></p>
</div>
<p id="mwAlc">Switzerland, considered the "grandfather of bank secrecy", has been one of the largest <a href="./Offshore_financial_centre" id="mwAlg" rel="mw:WikiLink" title="Offshore financial centre">offshore financial centers</a> and <a href="./Tax_haven" id="mwAlk" rel="mw:WikiLink" title="Tax haven">tax havens</a> in the world since the mid-20th century.<sup about="#mwt594" class="mw-ref reference" data-mw='{"name":"ref","attrs":{"name":":4"},"body":{"id":"mw-reference-text-cite_note-:4-52"}}' id="cite_ref-:4_52-1" rel="dc:references" typeof="mw:Extension/ref"><a href="./Banking_in_Switzerland#cite_note-:4-52" id="mwAlo" style="counter-reset: mw-Ref 52;"><span class="mw-reflink-text" id="mwAls">[52]</span></a></sup> Despite an international push to meaningfully roll back banking secrecy laws in the country, Swiss political forces have minimized and reverted much of the proposed rollbacks.<sup about="#mwt595" class="mw-ref reference" data-mw='{"name":"ref","attrs":{"name":":4"}}' id="cite_ref-:4_52-2" rel="dc:references" typeof="mw:Extension/ref"><a href="./Banking_in_Switzerland#cite_note-:4-52" id="mwAlw" style="counter-reset: mw-Ref 52;"><span class="mw-reflink-text" id="mwAl0">[52]</span></a></sup> Disclosing client information has been considered a serious social and criminal offense since the early 1900s.<sup about="#mwt596" class="mw-ref reference" data-mw='{"name":"ref","attrs":{"name":":4"}}' id="cite_ref-:4_52-3" rel="dc:references" typeof="mw:Extension/ref"><a href="./Banking_in_Switzerland#cite_note-:4-52" id="mwAl4" style="counter-reset: mw-Ref 52;"><span class="mw-reflink-text" id="mwAl8">[52]</span></a></sup> <a href="./Whistleblower" id="mwAmA" rel="mw:WikiLink" title="Whistleblower">Whistleblowers</a>, despite legal protections, often face professional set backs in Switzerland.<sup about="#mwt597" class="mw-ref reference" data-mw='{"name":"ref","attrs":{"name":":4"}}' id="cite_ref-:4_52-4" rel="dc:references" typeof="mw:Extension/ref"><a href="./Banking_in_Switzerland#cite_note-:4-52" id="mwAmE" style="counter-reset: mw-Ref 52;"><span class="mw-reflink-text" id="mwAmI">[52]</span></a></sup><sup about="#mwt602" class="mw-ref reference" data-mw='{"name":"ref","attrs":{"name":":13"},"body":{"id":"mw-reference-text-cite_note-:13-51"}}' id="cite_ref-:13_51-1" rel="dc:references" typeof="mw:Extension/ref"><a href="./Banking_in_Switzerland#cite_note-:13-51" id="mwAmM" style="counter-reset: mw-Ref 51;"><span class="mw-reflink-text" id="mwAmQ">[51]</span></a></sup> Swiss bankers who maintain offices <i id="mwAmU">exclusively</i> in Switzerland are shielded from a foreign state's lawsuits, <a href="./Extradition" id="mwAmY" rel="mw:WikiLink" title="Extradition">extradition requests</a>, and criminal charges, as long as they remain <i id="mwAmc">within</i> the country's legal jurisdiction.<sup about="#mwt603" class="mw-ref reference" data-mw='{"name":"ref","attrs":{"name":":152"}}' id="cite_ref-:152_23-1" rel="dc:references" typeof="mw:Extension/ref"><a href="./Banking_in_Switzerland#cite_note-:152-23" id="mwAmg" style="counter-reset: mw-Ref 23;"><span class="mw-reflink-text" id="mwAmk">[23]</span></a></sup> In spite of minor adjustments to bank secrecy, bankers working in Switzerland and abroad at Swiss banks "have long adhered to an unwritten code similar to that observed by doctors or priests".<sup about="#mwt608" class="mw-ref reference" data-mw='{"name":"ref","attrs":{"name":":17"},"body":{"id":"mw-reference-text-cite_note-:17-1"}}' id="cite_ref-:17_1-1" rel="dc:references" typeof="mw:Extension/ref"><a href="./Banking_in_Switzerland#cite_note-:17-1" id="mwAmo" style="counter-reset: mw-Ref 1;"><span class="mw-reflink-text" id="mwAms">[1]</span></a></sup> Switzerland's main lingual hubs, <a href="./Geneva" id="mwAmw" rel="mw:WikiLink" title="Geneva">Geneva</a> (for <a href="./French_language" id="mwAm0" rel="mw:WikiLink" title="French language">French</a>), <a href="./Lugano" id="mwAm4" rel="mw:WikiLink" title="Lugano">Lugano</a> (for <a href="./Italian_language" id="mwAm8" rel="mw:WikiLink" title="Italian language">Italian</a>), and <a href="./Zürich" id="mwAnA" rel="mw:WikiLink" title="Zürich">Zürich</a> (for <a href="./German_language" id="mwAnE" rel="mw:WikiLink" title="German language">German</a>) service the different geographical markets.<sup about="#mwt609" class="mw-ref reference" data-mw='{"name":"ref","attrs":{"name":":4"}}' id="cite_ref-:4_52-5" rel="dc:references" typeof="mw:Extension/ref"><a href="./Banking_in_Switzerland#cite_note-:4-52" id="mwAnI" style="counter-reset: mw-Ref 52;"><span class="mw-reflink-text" id="mwAnM">[52]</span></a></sup> It consistently ranks in the top three states on the <a href="./Financial_Secrecy_Index" id="mwAnQ" rel="mw:WikiLink" title="Financial Secrecy Index">Financial Secrecy Index</a> and was named first many times, most recently in 2018.<sup about="#mwt610" class="mw-ref reference" data-mw='{"name":"ref","attrs":{"name":":4"}}' id="cite_ref-:4_52-6" rel="dc:references" typeof="mw:Extension/ref"><a href="./Banking_in_Switzerland#cite_note-:4-52" id="mwAnU" style="counter-reset: mw-Ref 52;"><span class="mw-reflink-text" id="mwAnY">[52]</span></a></sup> The <a href="./Swiss_Bankers_Association" id="mwAnc" rel="mw:WikiLink" title="Swiss Bankers Association">Swiss Bankers Association</a> estimated in 2018 that Swiss banks held US$6.5 trillion in assets or 25% of all global cross-border assets.<sup about="#mwt611" class="mw-ref reference" data-mw='{"name":"ref","attrs":{"name":":4"}}' id="cite_ref-:4_52-7" rel="dc:references" typeof="mw:Extension/ref"><a href="./Banking_in_Switzerland#cite_note-:4-52" id="mwAng" style="counter-reset: mw-Ref 52;"><span class="mw-reflink-text" id="mwAnk">[52]</span></a></sup> These secrecy laws have linked the Swiss banking system with individuals and institutions seeking to <a href="./Tax_evasion" id="mwAno" rel="mw:WikiLink" title="Tax evasion">illegally evade taxes</a>, hide assets, or generally commit <a href="./Financial_crime" id="mwAns" rel="mw:WikiLink" title="Financial crime">financial crime</a>.<sup about="#mwt616" class="mw-ref reference" data-mw='{"name":"ref","attrs":{},"body":{"id":"mw-reference-text-cite_note-72"}}' id="cite_ref-72" rel="dc:references" typeof="mw:Extension/ref"><a href="./Banking_in_Switzerland#cite_note-72" id="mwAnw" style="counter-reset: mw-Ref 72;"><span class="mw-reflink-text" id="mwAn0">[72]</span></a></sup></p>
<p id="mwAn4">Secrecy laws have been violated by four people since 1934: <a href="./Christoph_Meili" id="mwAn8" rel="mw:WikiLink" title="Christoph Meili">Christoph Meili</a> (1997), <a href="./Bradley_Birkenfeld" id="mwAoA" rel="mw:WikiLink" title="Bradley Birkenfeld">Bradley Birkenfeld</a> (2007), <a href="./Rudolf_Elmer" id="mwAoE" rel="mw:WikiLink" title="Rudolf Elmer">Rudolf Elmer</a> (2011), and <a href="./Hervé_Falciani" id="mwAoI" rel="mw:WikiLink" title="Hervé Falciani">Hervé Falciani</a> (2014).<sup about="#mwt619" class="mw-ref reference" data-mw='{"name":"ref","attrs":{"name":":17"}}' id="cite_ref-:17_1-2" rel="dc:references" typeof="mw:Extension/ref"><a href="./Banking_in_Switzerland#cite_note-:17-1" id="mwAoM" style="counter-reset: mw-Ref 1;"><span class="mw-reflink-text" id="mwAoQ">[1]</span></a></sup> In all four cases, the <a href="./Whistleblower" id="mwAoU" rel="mw:WikiLink" title="Whistleblower">whistleblowers</a> were served with federal arrest warrants, fined, and sustained professional setbacks in Switzerland.<sup about="#mwt624" class="mw-ref reference" data-mw='{"name":"ref","attrs":{},"body":{"id":"mw-reference-text-cite_note-73"}}' id="cite_ref-73" rel="dc:references" typeof="mw:Extension/ref"><a href="./Banking_in_Switzerland#cite_note-73" id="mwAoY" style="counter-reset: mw-Ref 73;"><span class="mw-reflink-text" id="mwAoc">[73]</span></a></sup></p>
<p id="mwAog">As of 2015, Swiss banking secrecy was considered "dead" because of <a href="./Foreign_Account_Tax_Compliance_Act" id="mwAok" rel="mw:WikiLink" title="Foreign Account Tax Compliance Act">FATCA</a>, but according to the <a href="./Tax_Justice_Network" id="mwAoo" rel="mw:WikiLink" title="Tax Justice Network">Tax Justice Network</a> in 2018, these schemes are "<a href="./Banking_in_Switzerland#Loopholes" id="mwAos" rel="mw:WikiLink" title="Banking in Switzerland">full of loopholes and shortcomings</a>" which can still be exploited by lawyers to hide the assets of their clients.<sup about="#mwt631" class="mw-ref reference" data-mw='{"name":"ref","attrs":{},"body":{"id":"mw-reference-text-cite_note-74"}}' id="cite_ref-74" rel="dc:references" typeof="mw:Extension/ref"><a href="./Banking_in_Switzerland#cite_note-74" id="mwAow" style="counter-reset: mw-Ref 74;"><span class="mw-reflink-text" id="mwAo0">[74]</span></a></sup><sup about="#mwt636" class="mw-ref reference" data-mw='{"name":"ref","attrs":{},"body":{"id":"mw-reference-text-cite_note-75"}}' id="cite_ref-75" rel="dc:references" typeof="mw:Extension/ref"><a href="./Banking_in_Switzerland#cite_note-75" id="mwAo4" style="counter-reset: mw-Ref 75;"><span class="mw-reflink-text" id="mwAo8">[75]</span></a></sup> Besides, some autocratic or developing countries don't have any <a href="./Banking_in_Switzerland#Automatic_exchange_of_tax_information" id="mwApA" rel="mw:WikiLink" title="Banking in Switzerland">automatic exchange of tax information</a> with Switzerland.</p><p id="mwApE">

In 2022, the <a href="./Commission_on_Security_and_Cooperation_in_Europe" id="mwApI" rel="mw:WikiLink" title="Commission on Security and Cooperation in Europe">Helsinki Commission</a> of the <a class="mw-redirect" href="./U.S._Congress" id="mwApM" rel="mw:WikiLink" title="U.S. Congress">U.S. Congress</a> stated:<sup about="#mwt646" class="mw-ref reference" data-mw='{"name":"ref","attrs":{},"body":{"id":"mw-reference-text-cite_note-76"}}' id="cite_ref-76" rel="dc:references" typeof="mw:Extension/ref"><a href="./Banking_in_Switzerland#cite_note-76" id="mwApQ" style="counter-reset: mw-Ref 76;"><span class="mw-reflink-text" id="mwApU">[76]</span></a></sup></p><link about="#mwt638" data-mw='{"parts":[{"template":{"target":{"wt":"blockquote","href":"./Template:Blockquote"},"params":{"1":{"wt":"Long known as a [[Money laundering in Switzerland|destination for war criminals]] and [[kleptocrats]] to stash their plunder, [[Corruption in Switzerland#Banking|Switzerland is a leading enabler]] of Russian dictator [[Vladimir Putin]] and his cronies. After looting Russia, Putin and [[Russian oligarchs|his oligarchs]] use Swiss secrecy laws [[Switzerland-Russia relations#Trade|to hide and protect the proceeds of their crimes]]."}},"i":0}}]}' href="mw-data:TemplateStyles:r996844942" id="mwApY" rel="mw-deduplicated-inline-style" typeof="mw:Extension/templatestyles mw:Transclusion"/><blockquote about="#mwt638" class="templatequote" id="mwApc"><p>Long known as a <a class="mw-redirect" href="./Money_laundering_in_Switzerland" rel="mw:WikiLink" title="Money laundering in Switzerland">destination for war criminals</a> and <a class="mw-redirect" href="./Kleptocrats" rel="mw:WikiLink" title="Kleptocrats">kleptocrats</a> to stash their plunder, <a href="./Corruption_in_Switzerland#Banking" rel="mw:WikiLink" title="Corruption in Switzerland">Switzerland is a leading enabler</a> of Russian dictator <a href="./Vladimir_Putin" rel="mw:WikiLink" title="Vladimir Putin">Vladimir Putin</a> and his cronies. After looting Russia, Putin and <a href="./Russian_oligarchs" rel="mw:WikiLink" title="Russian oligarchs">his oligarchs</a> use Swiss secrecy laws <a class="mw-redirect" href="./Switzerland-Russia_relations#Trade" rel="mw:WikiLink" title="Switzerland-Russia relations">to hide and protect the proceeds of their crimes</a>.</p></blockquote>
<section data-mw-section-id="19" id="mwApg"><h4 id="Freedom_of_press">Freedom of press</h4>
<link about="#mwt647" data-mw='{"parts":[{"template":{"target":{"wt":"see also","href":"./Template:See_also"},"params":{"1":{"wt":"Media in Switzerland"},"2":{"wt":"Suisse secrets"}},"i":0}}]}' href="mw-data:TemplateStyles:r1033289096" id="mwApk" rel="mw-deduplicated-inline-style" typeof="mw:Extension/templatestyles mw:Transclusion"/><div about="#mwt647" class="hatnote navigation-not-searchable" id="mwApo" role="note">See also: <a class="mw-redirect" href="./Media_in_Switzerland" rel="mw:WikiLink" title="Media in Switzerland">Media in Switzerland</a> and <a href="./Suisse_secrets" rel="mw:WikiLink" title="Suisse secrets">Suisse secrets</a></div>
<p id="mwAps">Since leaking financial data is a criminal offense in Switzerland (even if it is in the public interest) <sup about="#mwt659" class="mw-ref reference" data-mw='{"name":"ref","attrs":{},"body":{"id":"mw-reference-text-cite_note-77"}}' id="cite_ref-77" rel="dc:references" typeof="mw:Extension/ref"><a href="./Banking_in_Switzerland#cite_note-77" id="mwApw" style="counter-reset: mw-Ref 77;"><span class="mw-reflink-text" id="mwAp0">[77]</span></a></sup> punishable with up to five years in jail, <a class="mw-redirect" href="./Swiss_media" id="mwAp4" rel="mw:WikiLink" title="Swiss media">Swiss media</a> argued in February 2022 that the banking secrecy law runs contrary to <a href="./Freedom_of_speech" id="mwAp8" rel="mw:WikiLink" title="Freedom of speech">freedom of speech</a> and <a href="./Freedom_of_the_press" id="mwAqA" rel="mw:WikiLink" title="Freedom of the press">freedom of the press</a> in some cases.<sup about="#mwt664" class="mw-ref reference" data-mw='{"name":"ref","attrs":{},"body":{"id":"mw-reference-text-cite_note-78"}}' id="cite_ref-78" rel="dc:references" typeof="mw:Extension/ref"><a href="./Banking_in_Switzerland#cite_note-78" id="mwAqE" style="counter-reset: mw-Ref 78;"><span class="mw-reflink-text" id="mwAqI">[78]</span></a></sup><sup about="#mwt669" class="mw-ref reference" data-mw='{"name":"ref","attrs":{},"body":{"id":"mw-reference-text-cite_note-79"}}' id="cite_ref-79" rel="dc:references" typeof="mw:Extension/ref"><a href="./Banking_in_Switzerland#cite_note-79" id="mwAqM" style="counter-reset: mw-Ref 79;"><span class="mw-reflink-text" id="mwAqQ">[79]</span></a></sup> In 2022, the <a href="./United_Nations_Human_Rights_Council" id="mwAqU" rel="mw:WikiLink" title="United Nations Human Rights Council">United Nations Human Rights Council</a> has asked for a better protection of journalists and whistleblowers in this regard.<sup about="#mwt674" class="mw-ref reference" data-mw='{"name":"ref","attrs":{},"body":{"id":"mw-reference-text-cite_note-80"}}' id="cite_ref-80" rel="dc:references" typeof="mw:Extension/ref"><a href="./Banking_in_Switzerland#cite_note-80" id="mwAqY" style="counter-reset: mw-Ref 80;"><span class="mw-reflink-text" id="mwAqc">[80]</span></a></sup></p>
</section><section data-mw-section-id="20" id="mwAqg"><h4 id="Bank_vaults_and_bunkers">Bank vaults and bunkers</h4>
<link about="#mwt675" data-mw='{"parts":[{"template":{"target":{"wt":"see also","href":"./Template:See_also"},"params":{"1":{"wt":"Free economic zone#Criminal use"}},"i":0}}]}' href="mw-data:TemplateStyles:r1033289096" id="mwAqk" rel="mw-deduplicated-inline-style" typeof="mw:Extension/templatestyles mw:Transclusion"/><div about="#mwt675" class="hatnote navigation-not-searchable" id="mwAqo" role="note">See also: <a href="./Free_economic_zone#Criminal_use" rel="mw:WikiLink" title="Free economic zone">Free economic zone §<span typeof="mw:Entity"> </span>Criminal use</a></div>
<p id="mwAqs">A handful of larger Swiss banks operate undisclosed or otherwise secretive <a href="./Bank_vault" id="mwAqw" rel="mw:WikiLink" title="Bank vault">bank vaults</a>, storage facilities or <a href="./Bunker" id="mwAq0" rel="mw:WikiLink" title="Bunker">underground bunkers</a> for <a href="./Gold_bar" id="mwAq4" rel="mw:WikiLink" title="Gold bar">gold bars</a>, <a href="./Diamond" id="mwAq8" rel="mw:WikiLink" title="Diamond">diamonds</a>, or other valuable <a href="./Asset" id="mwArA" rel="mw:WikiLink" title="Asset">physical assets</a>.<sup about="#mwt688" class="mw-ref reference" data-mw='{"name":"ref","attrs":{"name":":46"}}' id="cite_ref-:46_9-1" rel="dc:references" typeof="mw:Extension/ref"><a href="./Banking_in_Switzerland#cite_note-:46-9" id="mwArE" style="counter-reset: mw-Ref 9;"><span class="mw-reflink-text" id="mwArI">[9]</span></a></sup><sup about="#mwt693" class="mw-ref reference" data-mw='{"name":"ref","attrs":{},"body":{"id":"mw-reference-text-cite_note-81"}}' id="cite_ref-81" rel="dc:references" typeof="mw:Extension/ref"><a href="./Banking_in_Switzerland#cite_note-81" id="mwArM" style="counter-reset: mw-Ref 81;"><span class="mw-reflink-text" id="mwArQ">[81]</span></a></sup> Most of these underground bunkers are located near or at the foothills of the mountainous regions of the <a href="./Swiss_Alps" id="mwArU" rel="mw:WikiLink" title="Swiss Alps">Swiss Alps</a>.<sup about="#mwt698" class="mw-ref reference" data-mw='{"name":"ref","attrs":{"name":":82"},"body":{"id":"mw-reference-text-cite_note-:82-82"}}' id="cite_ref-:82_82-0" rel="dc:references" typeof="mw:Extension/ref"><a href="./Banking_in_Switzerland#cite_note-:82-82" id="mwArY" style="counter-reset: mw-Ref 82;"><span class="mw-reflink-text" id="mwArc">[82]</span></a></sup> These facilities are not subject to the <a class="mw-redirect" href="./List_of_Swiss_financial_market_legislation" id="mwArg" rel="mw:WikiLink" title="List of Swiss financial market legislation">same banking regulations</a> as <a href="./List_of_banks_in_Switzerland" id="mwArk" rel="mw:WikiLink" title="List of banks in Switzerland">banks in Switzerland</a> and do not have to report holdings to regulatory agencies.<sup about="#mwt699" class="mw-ref reference" data-mw='{"name":"ref","attrs":{"name":":82"}}' id="cite_ref-:82_82-1" rel="dc:references" typeof="mw:Extension/ref"><a href="./Banking_in_Switzerland#cite_note-:82-82" id="mwAro" style="counter-reset: mw-Ref 82;"><span class="mw-reflink-text" id="mwArs">[82]</span></a></sup><sup about="#mwt704" class="mw-ref reference" data-mw='{"name":"ref","attrs":{"name":":92"},"body":{"id":"mw-reference-text-cite_note-:92-83"}}' id="cite_ref-:92_83-0" rel="dc:references" typeof="mw:Extension/ref"><a href="./Banking_in_Switzerland#cite_note-:92-83" id="mwArw" style="counter-reset: mw-Ref 83;"><span class="mw-reflink-text" id="mwAr0">[83]</span></a></sup> The <a href="./Federal_Department_of_Defence,_Civil_Protection_and_Sport" id="mwAr4" rel="mw:WikiLink" title="Federal Department of Defence, Civil Protection and Sport">Swiss defense department</a> estimates that of the ten former <a href="./Bunker" id="mwAr8" rel="mw:WikiLink" title="Bunker">military bunkers</a> available for sale, six of them were sold to Swiss banks to house assets during the 1980s and 1990s.<sup about="#mwt705" class="mw-ref reference" data-mw='{"name":"ref","attrs":{"name":":46"}}' id="cite_ref-:46_9-2" rel="dc:references" typeof="mw:Extension/ref"><a href="./Banking_in_Switzerland#cite_note-:46-9" id="mwAsA" style="counter-reset: mw-Ref 9;"><span class="mw-reflink-text" id="mwAsE">[9]</span></a></sup><sup about="#mwt710" class="mw-ref reference" data-mw='{"name":"ref","attrs":{"name":":102"},"body":{"id":"mw-reference-text-cite_note-:102-84"}}' id="cite_ref-:102_84-0" rel="dc:references" typeof="mw:Extension/ref"><a href="./Banking_in_Switzerland#cite_note-:102-84" id="mwAsI" style="counter-reset: mw-Ref 84;"><span class="mw-reflink-text" id="mwAsM">[84]</span></a></sup> Storage in these underground bunkers and bank vaults is typically reserved for clients that pass a multi-stage <a href="./Security_clearance" id="mwAsQ" rel="mw:WikiLink" title="Security clearance">security clearance</a>.<sup about="#mwt711" class="mw-ref reference" data-mw='{"name":"ref","attrs":{"name":":82"}}' id="cite_ref-:82_82-2" rel="dc:references" typeof="mw:Extension/ref"><a href="./Banking_in_Switzerland#cite_note-:82-82" id="mwAsU" style="counter-reset: mw-Ref 82;"><span class="mw-reflink-text" id="mwAsY">[82]</span></a></sup> Some of these bunkers are not accessible by road or foot and require aircraft transportation.<sup about="#mwt712" class="mw-ref reference" data-mw='{"name":"ref","attrs":{"name":":46"}}' id="cite_ref-:46_9-3" rel="dc:references" typeof="mw:Extension/ref"><a href="./Banking_in_Switzerland#cite_note-:46-9" id="mwAsc" style="counter-reset: mw-Ref 9;"><span class="mw-reflink-text" id="mwAsg">[9]</span></a></sup></p>
</section><section data-mw-section-id="21" id="mwAsk"><h4 id="Numbered_bank_accounts">Numbered bank accounts</h4>
<link about="#mwt713" data-mw='{"parts":[{"template":{"target":{"wt":"Main","href":"./Template:Main"},"params":{"1":{"wt":"Numbered bank account"}},"i":0}}]}' href="mw-data:TemplateStyles:r1033289096" id="mwAso" rel="mw-deduplicated-inline-style" typeof="mw:Extension/templatestyles mw:Transclusion"/><div about="#mwt713" class="hatnote navigation-not-searchable" id="mwAss" role="note">Main article: <a href="./Numbered_bank_account" rel="mw:WikiLink" title="Numbered bank account">Numbered bank account</a></div>
<p id="mwAsw">Many banks in Switzerland offer clients <a href="./Numbered_bank_account" id="mwAs0" rel="mw:WikiLink" title="Numbered bank account">numbered bank accounts</a>, accounts where the identity of the holder is replaced with a multi-digit number known only to the client and select private bankers.<sup about="#mwt729" class="mw-ref reference" data-mw='{"name":"ref","attrs":{"name":":22"},"body":{"id":"mw-reference-text-cite_note-:22-85"}}' id="cite_ref-:22_85-0" rel="dc:references" typeof="mw:Extension/ref"><a href="./Banking_in_Switzerland#cite_note-:22-85" id="mwAs4" style="counter-reset: mw-Ref 85;"><span class="mw-reflink-text" id="mwAs8">[85]</span></a></sup><sup about="#mwt730" class="mw-ref reference" data-mw='{"name":"ref","attrs":{"name":":15"}}' id="cite_ref-:15_86-0" rel="dc:references" typeof="mw:Extension/ref"><a href="./Banking_in_Switzerland#cite_note-:15-86" id="mwAtA" style="counter-reset: mw-Ref 86;"><span class="mw-reflink-text" id="mwAtE">[86]</span></a></sup> Although these accounts do add another layer of banking secrecy, they are not completely anonymous as the name of the client is still recorded by the bank and subject to limited, warranted disclosure.<sup about="#mwt731" class="mw-ref reference" data-mw='{"name":"ref","attrs":{"name":":22"}}' id="cite_ref-:22_85-1" rel="dc:references" typeof="mw:Extension/ref"><a href="./Banking_in_Switzerland#cite_note-:22-85" id="mwAtI" style="counter-reset: mw-Ref 85;"><span class="mw-reflink-text" id="mwAtM">[85]</span></a></sup> Some Swiss banks supplement the number with a <a href="./Code_name" id="mwAtQ" rel="mw:WikiLink" title="Code name">code name</a> such as "Cardinal",<sup about="#mwt732" class="mw-ref reference" data-mw='{"name":"ref","attrs":{"name":":152"}}' id="cite_ref-:152_23-2" rel="dc:references" typeof="mw:Extension/ref"><a href="./Banking_in_Switzerland#cite_note-:152-23" id="mwAtU" style="counter-reset: mw-Ref 23;"><span class="mw-reflink-text" id="mwAtY">[23]</span></a></sup> "Octopussy"<sup about="#mwt737" class="mw-ref reference" data-mw='{"name":"ref","attrs":{"name":":21"},"body":{"id":"mw-reference-text-cite_note-:21-87"}}' id="cite_ref-:21_87-0" rel="dc:references" typeof="mw:Extension/ref"><a href="./Banking_in_Switzerland#cite_note-:21-87" id="mwAtc" style="counter-reset: mw-Ref 87;"><span class="mw-reflink-text" id="mwAtg">[87]</span></a></sup> or "Cello"<sup about="#mwt738" class="mw-ref reference" data-mw='{"name":"ref","attrs":{"name":":21"}}' id="cite_ref-:21_87-1" rel="dc:references" typeof="mw:Extension/ref"><a href="./Banking_in_Switzerland#cite_note-:21-87" id="mwAtk" style="counter-reset: mw-Ref 87;"><span class="mw-reflink-text" id="mwAto">[87]</span></a></sup> that provide an alternative means of identifying the client.<sup about="#mwt743" class="mw-ref reference" data-mw='{"name":"ref","attrs":{},"body":{"id":"mw-reference-text-cite_note-88"}}' id="cite_ref-88" rel="dc:references" typeof="mw:Extension/ref"><a href="./Banking_in_Switzerland#cite_note-88" id="mwAts" style="counter-reset: mw-Ref 88;"><span class="mw-reflink-text" id="mwAtw">[88]</span></a></sup> However, to open this type of account in Switzerland, clients must pass a multi-stage <a href="./Security_clearance" id="mwAt0" rel="mw:WikiLink" title="Security clearance">clearance procedure</a> and prove to the bank the lawful origins of their assets.<sup about="#mwt748" class="mw-ref reference" data-mw='{"name":"ref","attrs":{"name":":19"},"body":{"id":"mw-reference-text-cite_note-:19-89"}}' id="cite_ref-:19_89-0" rel="dc:references" typeof="mw:Extension/ref"><a href="./Banking_in_Switzerland#cite_note-:19-89" id="mwAt4" style="counter-reset: mw-Ref 89;"><span class="mw-reflink-text" id="mwAt8">[89]</span></a></sup></p>
</section></section><section data-mw-section-id="22" id="mwAuA"><h3 id="Connection_to_illegal_activities">Connection to illegal activities</h3>
<link about="#mwt749" data-mw='{"parts":[{"template":{"target":{"wt":"See also","href":"./Template:See_also"},"params":{"1":{"wt":"Crime in Switzerland#Crime by type"}},"i":0}}]}' href="mw-data:TemplateStyles:r1033289096" id="mwAuE" rel="mw-deduplicated-inline-style" typeof="mw:Extension/templatestyles mw:Transclusion"/><div about="#mwt749" class="hatnote navigation-not-searchable" id="mwAuI" role="note">See also: <a href="./Crime_in_Switzerland#Crime_by_type" rel="mw:WikiLink" title="Crime in Switzerland">Crime in Switzerland §<span typeof="mw:Entity"> </span>Crime by type</a></div>
<p id="mwAuM"><a href="./List_of_banks_in_Switzerland" id="mwAuQ" rel="mw:WikiLink" title="List of banks in Switzerland">Swiss banks</a> have served as <a href="./Tax_haven" id="mwAuU" rel="mw:WikiLink" title="Tax haven">safe havens</a> for the wealth of <a href="./Dictator" id="mwAuY" rel="mw:WikiLink" title="Dictator">dictators</a>, <a href="./Despotism" id="mwAuc" rel="mw:WikiLink" title="Despotism">despots</a>, <a class="mw-redirect" href="./Mobster" id="mwAug" rel="mw:WikiLink" title="Mobster">mobsters</a>, <a class="mw-redirect" href="./Arms_dealer" id="mwAuk" rel="mw:WikiLink" title="Arms dealer">arms dealers</a>, <a href="./Political_corruption" id="mwAuo" rel="mw:WikiLink" title="Political corruption">corrupt officials</a>, and <a href="./Tax_evasion" id="mwAus" rel="mw:WikiLink" title="Tax evasion">tax cheats</a> of all kinds.<sup about="#mwt760" class="mw-ref reference" data-mw='{"name":"ref","attrs":{},"body":{"id":"mw-reference-text-cite_note-90"}}' id="cite_ref-90" rel="dc:references" typeof="mw:Extension/ref"><a href="./Banking_in_Switzerland#cite_note-90" id="mwAuw" style="counter-reset: mw-Ref 90;"><span class="mw-reflink-text" id="mwAu0">[90]</span></a></sup><sup about="#mwt765" class="mw-ref reference" data-mw='{"name":"ref","attrs":{},"body":{"id":"mw-reference-text-cite_note-91"}}' id="cite_ref-91" rel="dc:references" typeof="mw:Extension/ref"><a href="./Banking_in_Switzerland#cite_note-91" id="mwAu4" style="counter-reset: mw-Ref 91;"><span class="mw-reflink-text" id="mwAu8">[91]</span></a></sup><sup about="#mwt770" class="mw-ref reference" data-mw='{"name":"ref","attrs":{},"body":{"id":"mw-reference-text-cite_note-92"}}' id="cite_ref-92" rel="dc:references" typeof="mw:Extension/ref"><a href="./Banking_in_Switzerland#cite_note-92" id="mwAvA" style="counter-reset: mw-Ref 92;"><span class="mw-reflink-text" id="mwAvE">[92]</span></a></sup></p>
<p id="mwAvI">At least a dozen of destituted autocrats have had their assets frozen or seized by the <a class="mw-redirect" href="./Swiss_government" id="mwAvM" rel="mw:WikiLink" title="Swiss government">Swiss government</a> over the years. The amounts can ben counted in billions of dollars. According to the <a class="mw-redirect" href="./Swiss_media" id="mwAvQ" rel="mw:WikiLink" title="Swiss media">Swiss media</a>, some of the amounts have not yet been restituted to the people of the countries of origin to whom it properly belongs.<sup about="#mwt776" class="mw-ref reference" data-mw='{"name":"ref","attrs":{},"body":{"id":"mw-reference-text-cite_note-93"}}' id="cite_ref-93" rel="dc:references" typeof="mw:Extension/ref"><a href="./Banking_in_Switzerland#cite_note-93" id="mwAvU" style="counter-reset: mw-Ref 93;"><span class="mw-reflink-text" id="mwAvY">[93]</span></a></sup></p>
<p id="mwAvc">Swiss banks have been commonly identified as <a href="./World_Jewish_Congress_lawsuit_against_Swiss_banks" id="mwAvg" rel="mw:WikiLink" title="World Jewish Congress lawsuit against Swiss banks">holding ill-gotten Nazi gold</a>.<sup about="#mwt783" class="mw-ref reference" data-mw='{"name":"ref","attrs":{},"body":{"id":"mw-reference-text-cite_note-94"}}' id="cite_ref-94" rel="dc:references" typeof="mw:Extension/ref"><a href="./Banking_in_Switzerland#cite_note-94" id="mwAvk" style="counter-reset: mw-Ref 94;"><span class="mw-reflink-text" id="mwAvo">[94]</span></a></sup> The <a href="./Swiss_National_Bank" id="mwAvs" rel="mw:WikiLink" title="Swiss National Bank">Swiss National Bank</a>, the largest gold distribution centre in continental Europe before the war, was the logical venue through which <a href="./Nazi_Germany" id="mwAvw" rel="mw:WikiLink" title="Nazi Germany">Nazi Germany</a> could dispose of <a href="./Nazi_gold" id="mwAv0" rel="mw:WikiLink" title="Nazi gold">its gold</a>.<sup about="#mwt785" class="mw-ref reference" data-mw='{"name":"ref","attrs":{"name":"Eizenstat"},"body":{"id":"mw-reference-text-cite_note-Eizenstat-95"}}' id="cite_ref-Eizenstat_95-0" rel="dc:references" typeof="mw:Extension/ref"><a href="./Banking_in_Switzerland#cite_note-Eizenstat-95" id="mwAv4" style="counter-reset: mw-Ref 95;"><span class="mw-reflink-text" id="mwAv8">[95]</span></a></sup></p>
<p id="mwAwA"><a href="./Time_(magazine)" id="mwAwE" rel="mw:WikiLink" title="Time (magazine)"><i id="mwAwI">Time</i> magazine</a> reported that throughout 1981 and 1982, the Israelis reportedly set up Swiss bank accounts to handle the financial end of <a class="mw-redirect" href="./Israel's_role_in_the_Iran–Iraq_war#Weapon_sales" id="mwAwM" rel="mw:WikiLink" title="Israel's role in the Iran–Iraq war">the annual multi-million dollars arms deals</a> between <a href="./Iran–Israel_relations" id="mwAwQ" rel="mw:WikiLink" title="Iran–Israel relations">Iran and Israel</a> during the <a href="./Iran–Iraq_War" id="mwAwU" rel="mw:WikiLink" title="Iran–Iraq War">Iran–Iraq War</a>.<sup about="#mwt793" class="mw-ref reference" data-mw='{"name":"ref","attrs":{},"body":{"id":"mw-reference-text-cite_note-96"}}' id="cite_ref-96" rel="dc:references" typeof="mw:Extension/ref"><a href="./Banking_in_Switzerland#cite_note-96" id="mwAwY" style="counter-reset: mw-Ref 96;"><span class="mw-reflink-text" id="mwAwc">[96]</span></a></sup><sup about="#mwt794" class="mw-ref reference" data-mw='{"name":"ref","attrs":{},"body":{"id":"mw-reference-text-cite_note-97"}}' id="cite_ref-97" rel="dc:references" typeof="mw:Extension/ref"><a href="./Banking_in_Switzerland#cite_note-97" id="mwAwg" style="counter-reset: mw-Ref 97;"><span class="mw-reflink-text" id="mwAwk">[97]</span></a></sup><sup about="#mwt799" class="mw-ref reference" data-mw='{"name":"ref","attrs":{},"body":{"id":"mw-reference-text-cite_note-98"}}' id="cite_ref-98" rel="dc:references" typeof="mw:Extension/ref"><a href="./Banking_in_Switzerland#cite_note-98" id="mwAwo" style="counter-reset: mw-Ref 98;"><span class="mw-reflink-text" id="mwAws">[98]</span></a></sup></p>
<p id="mwAww">According to the Swiss Federal Prosecutor's office and <a class="mw-redirect" href="./Swiss_media" id="mwAw0" rel="mw:WikiLink" title="Swiss media">media</a>, during the 1990s and early 2000s <a class="mw-redirect" href="./Al_Qaeda" id="mwAw4" rel="mw:WikiLink" title="Al Qaeda">Al Qaeda</a> members had accounts at Swiss banks, including at <a href="./UBS" id="mwAw8" rel="mw:WikiLink" title="UBS">UBS</a>.<sup about="#mwt806" class="mw-ref reference" data-mw='{"name":"ref","attrs":{},"body":{"id":"mw-reference-text-cite_note-99"}}' id="cite_ref-99" rel="dc:references" typeof="mw:Extension/ref"><a href="./Banking_in_Switzerland#cite_note-99" id="mwAxA" style="counter-reset: mw-Ref 99;"><span class="mw-reflink-text" id="mwAxE">[99]</span></a></sup><sup about="#mwt811" class="mw-ref reference" data-mw='{"name":"ref","attrs":{},"body":{"id":"mw-reference-text-cite_note-100"}}' id="cite_ref-100" rel="dc:references" typeof="mw:Extension/ref"><a href="./Banking_in_Switzerland#cite_note-100" id="mwAxI" style="counter-reset: mw-Ref 100;"><span class="mw-reflink-text" id="mwAxM">[100]</span></a></sup></p>
<p id="mwAxQ"><a href="./Unexplained_wealth_of_the_Marcos_family" id="mwAxU" rel="mw:WikiLink" title="Unexplained wealth of the Marcos family">Switzerland finally released a total of $683 million in Marcos funds to the Philippines Treasury</a> in 2004.<sup about="#mwt818" class="mw-ref reference" data-mw='{"name":"ref","attrs":{"name":"StARnodeMarcosSwitzerland"},"body":{"id":"mw-reference-text-cite_note-StARnodeMarcosSwitzerland-101"}}' id="cite_ref-StARnodeMarcosSwitzerland_101-0" rel="dc:references" typeof="mw:Extension/ref"><a href="./Banking_in_Switzerland#cite_note-StARnodeMarcosSwitzerland-101" id="mwAxY" style="counter-reset: mw-Ref 101;"><span class="mw-reflink-text" id="mwAxc">[101]</span></a></sup><sup about="#mwt823" class="mw-ref reference" data-mw='{"name":"ref","attrs":{},"body":{"id":"mw-reference-text-cite_note-102"}}' id="cite_ref-102" rel="dc:references" typeof="mw:Extension/ref"><a href="./Banking_in_Switzerland#cite_note-102" id="mwAxg" style="counter-reset: mw-Ref 102;"><span class="mw-reflink-text" id="mwAxk">[102]</span></a></sup></p>
<p id="mwAxo"><a href="./Mark_Pieth" id="mwAxs" rel="mw:WikiLink" title="Mark Pieth">Mark Pieth</a>, a Swiss professor of criminal law, said <a class="mw-redirect" href="./Mobutu" id="mwAxw" rel="mw:WikiLink" title="Mobutu">Mobutu</a> of <a href="./Zaire" id="mwAx0" rel="mw:WikiLink" title="Zaire">Zaire</a> had stolen US$30 billion over his 30 years in power but much of it he used to oil the wheels of power and pay off political and military allies. Billions were hidden in Swiss bank accounts illegally.<sup about="#mwt830" class="mw-ref reference" data-mw='{"name":"ref","attrs":{},"body":{"id":"mw-reference-text-cite_note-103"}}' id="cite_ref-103" rel="dc:references" typeof="mw:Extension/ref"><a href="./Banking_in_Switzerland#cite_note-103" id="mwAx4" style="counter-reset: mw-Ref 103;"><span class="mw-reflink-text" id="mwAx8">[103]</span></a></sup><sup about="#mwt835" class="mw-ref reference" data-mw='{"name":"ref","attrs":{},"body":{"id":"mw-reference-text-cite_note-104"}}' id="cite_ref-104" rel="dc:references" typeof="mw:Extension/ref"><a href="./Banking_in_Switzerland#cite_note-104" id="mwAyA" style="counter-reset: mw-Ref 104;"><span class="mw-reflink-text" id="mwAyE">[104]</span></a></sup></p>
<p id="mwAyI">According to Haitian authorities, <a class="mw-redirect" href="./Jean_Claude_Duvalier" id="mwAyM" rel="mw:WikiLink" title="Jean Claude Duvalier">Jean Claude Duvalier</a> had nearly $300 million of Haitian people's money hidden in Swiss bank accounts.<sup about="#mwt841" class="mw-ref reference" data-mw='{"name":"ref","attrs":{},"body":{"id":"mw-reference-text-cite_note-105"}}' id="cite_ref-105" rel="dc:references" typeof="mw:Extension/ref"><a href="./Banking_in_Switzerland#cite_note-105" id="mwAyQ" style="counter-reset: mw-Ref 105;"><span class="mw-reflink-text" id="mwAyU">[105]</span></a></sup></p>
<p id="mwAyY">In 2013, the <a href="./International_Consortium_of_Investigative_Journalists" id="mwAyc" rel="mw:WikiLink" title="International Consortium of Investigative Journalists">International Consortium of Investigative Journalists</a> (ICIJ), a <a href="./Washington,_D.C." id="mwAyg" rel="mw:WikiLink" title="Washington, D.C.">Washington, D.C.</a>-based <a class="mw-redirect" href="./Nonprofit" id="mwAyk" rel="mw:WikiLink" title="Nonprofit">nonprofit</a> news organization, obtained records of companies and trusts created by two offshore companies. These included information on at least 23 companies linked to an alleged $230 million tax fraud in Russia, a case that was being investigated by <a href="./Sergei_Magnitsky" id="mwAyo" rel="mw:WikiLink" title="Sergei Magnitsky">Sergei Magnitsky</a>. The ICIJ investigation also revealed that the husband of one of the Russian tax officials deposited millions in a Swiss bank account set up by one of the offshore companies.<sup about="#mwt847" class="mw-ref reference" data-mw='{"name":"ref","attrs":{},"body":{"id":"mw-reference-text-cite_note-106"}}' id="cite_ref-106" rel="dc:references" typeof="mw:Extension/ref"><a href="./Banking_in_Switzerland#cite_note-106" id="mwAys" style="counter-reset: mw-Ref 106;"><span class="mw-reflink-text" id="mwAyw">[106]</span></a></sup></p>
<p id="mwAy0">Over the past 20 years, Switzerland has returned about $2 billion of ill-gotten money in at least ten cases, including to Tunisia, Egypt, Brazil, Nigeria, Malaysia and Uzbekistan (2022).<sup about="#mwt854" class="mw-ref reference" data-mw='{"name":"ref","attrs":{},"body":{"id":"mw-reference-text-cite_note-107"}}' id="cite_ref-107" rel="dc:references" typeof="mw:Extension/ref"><a href="./Banking_in_Switzerland#cite_note-107" id="mwAy4" style="counter-reset: mw-Ref 107;"><span class="mw-reflink-text" id="mwAy8">[107]</span></a></sup> Swiss bank accounts were utilised by the perpetrators of the <a href="./1Malaysia_Development_Berhad_scandal" id="mwAzA" rel="mw:WikiLink" title="1Malaysia Development Berhad scandal">1Malaysia Development Berhad corruption and money laundering scandal</a>.<sup about="#mwt859" class="mw-ref reference" data-mw='{"name":"ref","attrs":{},"body":{"id":"mw-reference-text-cite_note-108"}}' id="cite_ref-108" rel="dc:references" typeof="mw:Extension/ref"><a href="./Banking_in_Switzerland#cite_note-108" id="mwAzE" style="counter-reset: mw-Ref 108;"><span class="mw-reflink-text" id="mwAzI">[108]</span></a></sup></p>
<p id="mwAzM"><a href="./Suisse_secrets" id="mwAzQ" rel="mw:WikiLink" title="Suisse secrets">More recent studies</a> show that <a href="./Credit_Suisse" id="mwAzU" rel="mw:WikiLink" title="Credit Suisse">Credit Suisse</a> alone held assets worth $100 billion over several decades which were linked to corruption and bribery to drug and human trafficking for more than 30,000 clients.<sup about="#mwt868" class="mw-ref reference" data-mw='{"name":"ref","attrs":{"name":"Guardian"},"body":{"id":"mw-reference-text-cite_note-Guardian-109"}}' id="cite_ref-Guardian_109-0" rel="dc:references" typeof="mw:Extension/ref"><a href="./Banking_in_Switzerland#cite_note-Guardian-109" id="mwAzY" style="counter-reset: mw-Ref 109;"><span class="mw-reflink-text" id="mwAzc">[109]</span></a></sup><sup about="#mwt873" class="mw-ref reference" data-mw='{"name":"ref","attrs":{},"body":{"id":"mw-reference-text-cite_note-110"}}' id="cite_ref-110" rel="dc:references" typeof="mw:Extension/ref"><a href="./Banking_in_Switzerland#cite_note-110" id="mwAzg" style="counter-reset: mw-Ref 110;"><span class="mw-reflink-text" id="mwAzk">[110]</span></a></sup><sup about="#mwt878" class="mw-ref reference" data-mw='{"name":"ref","attrs":{},"body":{"id":"mw-reference-text-cite_note-111"}}' id="cite_ref-111" rel="dc:references" typeof="mw:Extension/ref"><a href="./Banking_in_Switzerland#cite_note-111" id="mwAzo" style="counter-reset: mw-Ref 111;"><span class="mw-reflink-text" id="mwAzs">[111]</span></a></sup> Apart from the 2022 "<a href="./Suisse_secrets" id="mwAzw" rel="mw:WikiLink" title="Suisse secrets">Suisse secrets</a>" revelations, Credit Suisse had several other cases of scandals reported by the media over the last decades.<sup about="#mwt883" class="mw-ref reference" data-mw='{"name":"ref","attrs":{},"body":{"id":"mw-reference-text-cite_note-112"}}' id="cite_ref-112" rel="dc:references" typeof="mw:Extension/ref"><a href="./Banking_in_Switzerland#cite_note-112" id="mwAz0" style="counter-reset: mw-Ref 112;"><span class="mw-reflink-text" id="mwAz4">[112]</span></a></sup></p>
<p id="mwAz8">In 2018, <a href="./London" id="mwA0A" rel="mw:WikiLink" title="London">London</a>-based <a href="./Tax_Justice_Network" id="mwA0E" rel="mw:WikiLink" title="Tax Justice Network">Tax Justice Network</a> ranks Switzerland's banking sector as the "most corrupt" in the world due to a large <a class="mw-redirect" href="./Offshore_banking" id="mwA0I" rel="mw:WikiLink" title="Offshore banking">offshore banking</a> industry and very strict secrecy laws. The ranking attempts to measure how much assistance the country's legal systems provide to <a href="./Money_laundering" id="mwA0M" rel="mw:WikiLink" title="Money laundering">money laundering</a>, and to protecting corruptly obtained wealth.<sup about="#mwt889" class="mw-ref reference" data-mw='{"name":"ref","attrs":{},"body":{"id":"mw-reference-text-cite_note-113"}}' id="cite_ref-113" rel="dc:references" typeof="mw:Extension/ref"><a href="./Banking_in_Switzerland#cite_note-113" id="mwA0Q" style="counter-reset: mw-Ref 113;"><span class="mw-reflink-text" id="mwA0U">[113]</span></a></sup></p>
<p id="mwA0Y">As of 2019, key criminal probes involving Swiss banks were the <a href="./Petrobras" id="mwA0c" rel="mw:WikiLink" title="Petrobras">Petrobras</a> bribery case, the <a href="./Mozambique" id="mwA0g" rel="mw:WikiLink" title="Mozambique">Mozambique</a> "tuna bonds", <a href="./Credit_Suisse" id="mwA0k" rel="mw:WikiLink" title="Credit Suisse">Credit Suisse</a> "spygate" affair, <a href="./Raiffeisen_(Switzerland)" id="mwA0o" rel="mw:WikiLink" title="Raiffeisen (Switzerland)">Raiffeisen</a> insider trading and <a href="./UBS" id="mwA0s" rel="mw:WikiLink" title="UBS">UBS</a> tax evasion in <a href="./France" id="mwA0w" rel="mw:WikiLink" title="France">France</a>.<sup about="#mwt897" class="mw-ref reference" data-mw='{"name":"ref","attrs":{},"body":{"id":"mw-reference-text-cite_note-114"}}' id="cite_ref-114" rel="dc:references" typeof="mw:Extension/ref"><a href="./Banking_in_Switzerland#cite_note-114" id="mwA00" style="counter-reset: mw-Ref 114;"><span class="mw-reflink-text" id="mwA04">[114]</span></a></sup><sup about="#mwt902" class="mw-ref reference" data-mw='{"name":"ref","attrs":{},"body":{"id":"mw-reference-text-cite_note-115"}}' id="cite_ref-115" rel="dc:references" typeof="mw:Extension/ref"><a href="./Banking_in_Switzerland#cite_note-115" id="mwA08" style="counter-reset: mw-Ref 115;"><span class="mw-reflink-text" id="mwA1A">[115]</span></a></sup><sup about="#mwt907" class="mw-ref reference" data-mw='{"name":"ref","attrs":{},"body":{"id":"mw-reference-text-cite_note-116"}}' id="cite_ref-116" rel="dc:references" typeof="mw:Extension/ref"><a href="./Banking_in_Switzerland#cite_note-116" id="mwA1E" style="counter-reset: mw-Ref 116;"><span class="mw-reflink-text" id="mwA1I">[116]</span></a></sup></p>
<p id="mwA1M">In 2021, the <a href="./Swiss_Broadcasting_Corporation" id="mwA1Q" rel="mw:WikiLink" title="Swiss Broadcasting Corporation">Swiss Broadcasting Corporation</a> reported that the Zurich police are investigating CHF 9 billion from <a href="./Venezuela" id="mwA1U" rel="mw:WikiLink" title="Venezuela">Venezuela</a> that has been received by 30 Swiss banks.<sup about="#mwt915" class="mw-ref reference" data-mw='{"name":"ref","attrs":{},"body":{"id":"mw-reference-text-cite_note-117"}}' id="cite_ref-117" rel="dc:references" typeof="mw:Extension/ref"><a href="./Banking_in_Switzerland#cite_note-117" id="mwA1Y" style="counter-reset: mw-Ref 117;"><span class="mw-reflink-text" id="mwA1c">[117]</span></a></sup> A Swiss bank account was used to bribe a Venezuelan minister.<sup about="#mwt920" class="mw-ref reference" data-mw='{"name":"ref","attrs":{},"body":{"id":"mw-reference-text-cite_note-118"}}' id="cite_ref-118" rel="dc:references" typeof="mw:Extension/ref"><a href="./Banking_in_Switzerland#cite_note-118" id="mwA1g" style="counter-reset: mw-Ref 118;"><span class="mw-reflink-text" id="mwA1k">[118]</span></a></sup> Other major cases involving the <a href="./Credit_Suisse" id="mwA1o" rel="mw:WikiLink" title="Credit Suisse">Credit Suisse</a> <a href="./Money_laundering" id="mwA1s" rel="mw:WikiLink" title="Money laundering">money laundering</a> case for drug-traffickers in Bulgaria, <a class="new" href="./Falcon_Bank" id="mwA1w" rel="mw:WikiLink" title="Falcon Bank">Falcon Bank</a>, <a class="mw-redirect" href="./1MBD" id="mwA10" rel="mw:WikiLink" title="1MBD">1MBD</a>, <a href="./Glencore" id="mwA14" rel="mw:WikiLink" title="Glencore">Glencore</a>, <a href="./SICPA" id="mwA18" rel="mw:WikiLink" title="SICPA">SICPA</a>, <a href="./SBM_Offshore" id="mwA2A" rel="mw:WikiLink" title="SBM Offshore">SBM Offshore</a>, <a class="new" href="./PKB_Group" id="mwA2E" rel="mw:WikiLink" title="PKB Group">PKB</a>, <a href="./J._Safra_Sarasin" id="mwA2I" rel="mw:WikiLink" title="J. Safra Sarasin">J. Safra Sarasin</a>, <a class="new" href="./Cramer_Bank" id="mwA2M" rel="mw:WikiLink" title="Cramer Bank">Cramer Bank</a> and <a href="./Bank_Lombard_Odier_&amp;_Co" id="mwA2Q" rel="mw:WikiLink" title="Bank Lombard Odier &amp; Co">Lombard Odier Bank</a>.<sup about="#mwt925" class="mw-ref reference" data-mw='{"name":"ref","attrs":{},"body":{"id":"mw-reference-text-cite_note-119"}}' id="cite_ref-119" rel="dc:references" typeof="mw:Extension/ref"><a href="./Banking_in_Switzerland#cite_note-119" id="mwA2U" style="counter-reset: mw-Ref 119;"><span class="mw-reflink-text" id="mwA2Y">[119]</span></a></sup></p>
<p id="mwA2c">In 2021, Swiss firm <a class="new" href="./Allied_Finance_Trust" id="mwA2g" rel="mw:WikiLink" title="Allied Finance Trust">Allied Finance Trust</a> AG and five Swiss bankers were charged with <a class="mw-redirect" href="./Tax_fraud" id="mwA2k" rel="mw:WikiLink" title="Tax fraud">tax fraud</a> conspiracy in <a href="./New_York_City" id="mwA2o" rel="mw:WikiLink" title="New York City">New York</a>.<sup about="#mwt931" class="mw-ref reference" data-mw='{"name":"ref","attrs":{},"body":{"id":"mw-reference-text-cite_note-120"}}' id="cite_ref-120" rel="dc:references" typeof="mw:Extension/ref"><a href="./Banking_in_Switzerland#cite_note-120" id="mwA2s" style="counter-reset: mw-Ref 120;"><span class="mw-reflink-text" id="mwA2w">[120]</span></a></sup></p>
<p id="mwA20">In 2021, <a href="./UBS" id="mwA24" rel="mw:WikiLink" title="UBS">UBS</a> was criminally convicted by an appeals court in <a href="./France" id="mwA28" rel="mw:WikiLink" title="France">France</a> for <a href="./Money_laundering" id="mwA3A" rel="mw:WikiLink" title="Money laundering">money laundering</a> the proceeds of <a href="./Tax_evasion" id="mwA3E" rel="mw:WikiLink" title="Tax evasion">tax evasion</a> by French citizens and fined €1.8 billion.<sup about="#mwt938" class="mw-ref reference" data-mw='{"name":"ref","attrs":{},"body":{"id":"mw-reference-text-cite_note-121"}}' id="cite_ref-121" rel="dc:references" typeof="mw:Extension/ref"><a href="./Banking_in_Switzerland#cite_note-121" id="mwA3I" style="counter-reset: mw-Ref 121;"><span class="mw-reflink-text" id="mwA3M">[121]</span></a></sup><sup about="#mwt943" class="mw-ref reference" data-mw='{"name":"ref","attrs":{},"body":{"id":"mw-reference-text-cite_note-122"}}' id="cite_ref-122" rel="dc:references" typeof="mw:Extension/ref"><a href="./Banking_in_Switzerland#cite_note-122" id="mwA3Q" style="counter-reset: mw-Ref 122;"><span class="mw-reflink-text" id="mwA3U">[122]</span></a></sup></p>
</section><section data-mw-section-id="23" id="mwA3Y"><h3 id="Tax_evasion">Tax evasion</h3>
<link about="#mwt944" data-mw='{"parts":[{"template":{"target":{"wt":"see also","href":"./Template:See_also"},"params":{"1":{"wt":"Taxation in Switzerland"}},"i":0}}]}' href="mw-data:TemplateStyles:r1033289096" id="mwA3c" rel="mw-deduplicated-inline-style" typeof="mw:Extension/templatestyles mw:Transclusion"/><div about="#mwt944" class="hatnote navigation-not-searchable" id="mwA3g" role="note">See also: <a href="./Taxation_in_Switzerland" rel="mw:WikiLink" title="Taxation in Switzerland">Taxation in Switzerland</a></div>
<figure class="mw-default-size" id="mwA3k" typeof="mw:File/Thumb"><a class="mw-file-description" href="./File:Genève._(9838511724).jpg" id="mwA3o"><img data-file-height="3264" data-file-type="bitmap" data-file-width="4928" decoding="async" height="146" id="mwA3s" resource="./File:Genève._(9838511724).jpg" src="//upload.wikimedia.org/wikipedia/commons/thumb/8/8a/Gen%C3%A8ve._%289838511724%29.jpg/220px-Gen%C3%A8ve._%289838511724%29.jpg" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/8/8a/Gen%C3%A8ve._%289838511724%29.jpg/330px-Gen%C3%A8ve._%289838511724%29.jpg 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/8/8a/Gen%C3%A8ve._%289838511724%29.jpg/440px-Gen%C3%A8ve._%289838511724%29.jpg 2x" width="220"/></a><figcaption id="mwA3w"><a href="./Swiss_nationality_law" id="mwA30" rel="mw:WikiLink" title="Swiss nationality law">Citizens of Switzerland</a> retain the country's strictest, most expansive, and unalienable banking secrecy protections as it pertains to taxation.</figcaption></figure>
<p id="mwA34">Switzerland has been ranked among the top three <a class="mw-redirect" href="./Tax_havens" id="mwA38" rel="mw:WikiLink" title="Tax havens">tax havens</a> in the world every single year since the financial crisis, most recently in 2018.<sup about="#mwt950" class="mw-ref reference" data-mw='{"name":"ref","attrs":{"name":":4"}}' id="cite_ref-:4_52-8" rel="dc:references" typeof="mw:Extension/ref"><a href="./Banking_in_Switzerland#cite_note-:4-52" id="mwA4A" style="counter-reset: mw-Ref 52;"><span class="mw-reflink-text" id="mwA4E">[52]</span></a></sup> In 2021, U.S. <a class="mw-redirect" href="./President_Joe_Biden" id="mwA4I" rel="mw:WikiLink" title="President Joe Biden">President Joe Biden</a> also called Switzerland a "<a href="./Tax_haven" id="mwA4M" rel="mw:WikiLink" title="Tax haven">tax haven</a>" during his <a href="./2021_Joe_Biden_speech_to_a_joint_session_of_Congress" id="mwA4Q" rel="mw:WikiLink" title="2021 Joe Biden speech to a joint session of Congress">speech to a joint session of Congress</a>.<sup about="#mwt955" class="mw-ref reference" data-mw='{"name":"ref","attrs":{},"body":{"id":"mw-reference-text-cite_note-123"}}' id="cite_ref-123" rel="dc:references" typeof="mw:Extension/ref"><a href="./Banking_in_Switzerland#cite_note-123" id="mwA4U" style="counter-reset: mw-Ref 123;"><span class="mw-reflink-text" id="mwA4Y">[123]</span></a></sup></p>
<section data-mw-section-id="24" id="mwA4c"><h4 id="Background">Background</h4>
<p id="mwA4g">According to the 2018 <a href="./Financial_Secrecy_Index" id="mwA4k" rel="mw:WikiLink" title="Financial Secrecy Index">Financial Secrecy Index</a>, Switzerland's banking secrecy laws have rendered it a premier <a href="./Tax_haven" id="mwA4o" rel="mw:WikiLink" title="Tax haven">tax haven</a> since the 1900s.<sup about="#mwt965" class="mw-ref reference" data-mw='{"name":"ref","attrs":{"name":":10"}}' id="cite_ref-:10_12-4" rel="dc:references" typeof="mw:Extension/ref"><a href="./Banking_in_Switzerland#cite_note-:10-12" id="mwA4s" style="counter-reset: mw-Ref 12;"><span class="mw-reflink-text" id="mwA4w">[12]</span></a></sup> It also noted that this status has been frequently abused by criminals to illegally <a href="./Tax_evasion" id="mwA40" rel="mw:WikiLink" title="Tax evasion">evade paying taxes</a> in their home country.<sup about="#mwt966" class="mw-ref reference" data-mw='{"name":"ref","attrs":{"name":":10"}}' id="cite_ref-:10_12-5" rel="dc:references" typeof="mw:Extension/ref"><a href="./Banking_in_Switzerland#cite_note-:10-12" id="mwA44" style="counter-reset: mw-Ref 12;"><span class="mw-reflink-text" id="mwA48">[12]</span></a></sup> One of the most prominent attractions of the disclosure protection laws is the distinction between <a href="./Tax_evasion" id="mwA5A" rel="mw:WikiLink" title="Tax evasion">tax evasion</a> (non-reporting of income) and <a href="./Fraud" id="mwA5E" rel="mw:WikiLink" title="Fraud">tax fraud</a> (active deception).<sup about="#mwt971" class="mw-ref reference" data-mw='{"name":"ref","attrs":{"name":":12"},"body":{"id":"mw-reference-text-cite_note-:12-124"}}' id="cite_ref-:12_124-0" rel="dc:references" typeof="mw:Extension/ref"><a href="./Banking_in_Switzerland#cite_note-:12-124" id="mwA5I" style="counter-reset: mw-Ref 124;"><span class="mw-reflink-text" id="mwA5M">[124]</span></a></sup> Akin to the distinction between legal <a href="./Tax_avoidance" id="mwA5Q" rel="mw:WikiLink" title="Tax avoidance">tax avoidance</a> and illegal tax evasion in the U.S., the non-reporting of income is only a <a href="./Municipal_offense" id="mwA5U" rel="mw:WikiLink" title="Municipal offense">civil offense</a> in Switzerland while tax fraud is a financial crime.<sup about="#mwt972" class="mw-ref reference" data-mw='{"name":"ref","attrs":{"name":":12"}}' id="cite_ref-:12_124-1" rel="dc:references" typeof="mw:Extension/ref"><a href="./Banking_in_Switzerland#cite_note-:12-124" id="mwA5Y" style="counter-reset: mw-Ref 124;"><span class="mw-reflink-text" id="mwA5c">[124]</span></a></sup> When foreign clients deposit holdings into a Swiss bank account, the bank is legally prohibited from disclosing balances or client information to tax authorities.<sup about="#mwt973" class="mw-ref reference" data-mw='{"name":"ref","attrs":{"name":":12"}}' id="cite_ref-:12_124-2" rel="dc:references" typeof="mw:Extension/ref"><a href="./Banking_in_Switzerland#cite_note-:12-124" id="mwA5g" style="counter-reset: mw-Ref 124;"><span class="mw-reflink-text" id="mwA5k">[124]</span></a></sup> This prohibition can only be waived if the client has produced a written <a href="./Consent" id="mwA5o" rel="mw:WikiLink" title="Consent">statement of consent</a> or a <a href="./Financial_crime" id="mwA5s" rel="mw:WikiLink" title="Financial crime">financial crime</a> has been directly linked to the bank account.<sup about="#mwt974" class="mw-ref reference" data-mw='{"name":"ref","attrs":{"name":":12"}}' id="cite_ref-:12_124-3" rel="dc:references" typeof="mw:Extension/ref"><a href="./Banking_in_Switzerland#cite_note-:12-124" id="mwA5w" style="counter-reset: mw-Ref 124;"><span class="mw-reflink-text" id="mwA50">[124]</span></a></sup> More often than not,<sup about="#mwt975" class="mw-ref reference" data-mw='{"name":"ref","attrs":{"name":":5"}}' id="cite_ref-:5_2-17" rel="dc:references" typeof="mw:Extension/ref"><a href="./Banking_in_Switzerland#cite_note-:5-2" id="mwA54" style="counter-reset: mw-Ref 2;"><span class="mw-reflink-text" id="mwA58">[2]</span></a></sup> clients do not consent to foreign tax authorities, which leaves only the latter (financial crime) provision available.<sup about="#mwt976" class="mw-ref reference" data-mw='{"name":"ref","attrs":{"name":":14"}}' id="cite_ref-:14_50-1" rel="dc:references" typeof="mw:Extension/ref"><a href="./Banking_in_Switzerland#cite_note-:14-50" id="mwA6A" style="counter-reset: mw-Ref 50;"><span class="mw-reflink-text" id="mwA6E">[50]</span></a></sup> Many client services available in Switzerland (e.g. <a href="./Numbered_bank_account" id="mwA6I" rel="mw:WikiLink" title="Numbered bank account">numbered bank accounts</a>) are used to shield client data from tax authorities.<sup about="#mwt977" class="mw-ref reference" data-mw='{"name":"ref","attrs":{"name":":14"}}' id="cite_ref-:14_50-2" rel="dc:references" typeof="mw:Extension/ref"><a href="./Banking_in_Switzerland#cite_note-:14-50" id="mwA6M" style="counter-reset: mw-Ref 50;"><span class="mw-reflink-text" id="mwA6Q">[50]</span></a></sup></p>
<p id="mwA6U">Many <a href="./Sovereign_state" id="mwA6Y" rel="mw:WikiLink" title="Sovereign state">sovereign states</a> do not legally require <a href="./Private_bank" id="mwA6c" rel="mw:WikiLink" title="Private bank">private bankers</a> to confirm whether or not a client has paid their taxes, in any capacity.<sup about="#mwt989" class="mw-ref reference" data-mw='{"name":"ref","attrs":{},"body":{"id":"mw-reference-text-cite_note-125"}}' id="cite_ref-125" rel="dc:references" typeof="mw:Extension/ref"><a href="./Banking_in_Switzerland#cite_note-125" id="mwA6g" style="counter-reset: mw-Ref 125;"><span class="mw-reflink-text" id="mwA6k">[125]</span></a></sup> On top of this, <a href="./Federal_Act_on_Banks_and_Savings_Banks" id="mwA6o" rel="mw:WikiLink" title="Federal Act on Banks and Savings Banks">Switzerland's banking secrecy laws</a> prohibit the disclosure of client information under a variety of federal, cantonal, and civil policies.<sup about="#mwt990" class="mw-ref reference" data-mw='{"name":"ref","attrs":{"name":":4"}}' id="cite_ref-:4_52-9" rel="dc:references" typeof="mw:Extension/ref"><a href="./Banking_in_Switzerland#cite_note-:4-52" id="mwA6s" style="counter-reset: mw-Ref 52;"><span class="mw-reflink-text" id="mwA6w">[52]</span></a></sup> Many foreign nationals open Swiss bank accounts to take advantage of these laws and tax distinctions.<sup about="#mwt995" class="mw-ref reference" data-mw='{"name":"ref","attrs":{"name":":14"},"body":{"id":"mw-reference-text-cite_note-:14-50"}}' id="cite_ref-:14_50-3" rel="dc:references" typeof="mw:Extension/ref"><a href="./Banking_in_Switzerland#cite_note-:14-50" id="mwA60" style="counter-reset: mw-Ref 50;"><span class="mw-reflink-text" id="mwA64">[50]</span></a></sup> While <a href="./Swiss_nationality_law" id="mwA68" rel="mw:WikiLink" title="Swiss nationality law">citizens of Switzerland</a> retain the full force of banking secrecy protections, foreign clients are afforded some of the most stringent <a href="./Bank_secrecy" id="mwA7A" rel="mw:WikiLink" title="Bank secrecy">bank–client confidentiality</a> protections in the world.<sup about="#mwt996" class="mw-ref reference" data-mw='{"name":"ref","attrs":{"name":":14"}}' id="cite_ref-:14_50-4" rel="dc:references" typeof="mw:Extension/ref"><a href="./Banking_in_Switzerland#cite_note-:14-50" id="mwA7E" style="counter-reset: mw-Ref 50;"><span class="mw-reflink-text" id="mwA7I">[50]</span></a></sup> In exchange for banking services, the Swiss government charges "a low, lump-sum option on the money they bank", after which Swiss tax authorities consider client tax burdens "settled".<sup about="#mwt1001" class="mw-ref reference" data-mw='{"name":"ref","attrs":{},"body":{"id":"mw-reference-text-cite_note-126"}}' id="cite_ref-126" rel="dc:references" typeof="mw:Extension/ref"><a href="./Banking_in_Switzerland#cite_note-126" id="mwA7M" style="counter-reset: mw-Ref 126;"><span class="mw-reflink-text" id="mwA7Q">[126]</span></a></sup> After the <a href="./Federal_Act_on_Banks_and_Savings_Banks" id="mwA7U" rel="mw:WikiLink" title="Federal Act on Banks and Savings Banks">Banking Law of 1934</a> was passed, Swiss bankers traveled across Europe to advertise the country's banking secrecy during <a href="./World_War_II" id="mwA7Y" rel="mw:WikiLink" title="World War II">World War II</a>.<sup about="#mwt1002" class="mw-ref reference" data-mw='{"name":"ref","attrs":{"name":":5"}}' id="cite_ref-:5_2-18" rel="dc:references" typeof="mw:Extension/ref"><a href="./Banking_in_Switzerland#cite_note-:5-2" id="mwA7c" style="counter-reset: mw-Ref 2;"><span class="mw-reflink-text" id="mwA7g">[2]</span></a></sup> As European countries began to <a href="./War_bond" id="mwA7k" rel="mw:WikiLink" title="War bond">increase taxes to finance the war</a>, wealthy clients moved their holdings into Swiss accounts to avoid taxation.<sup about="#mwt1003" class="mw-ref reference" data-mw='{"name":"ref","attrs":{"name":":5"}}' id="cite_ref-:5_2-19" rel="dc:references" typeof="mw:Extension/ref"><a href="./Banking_in_Switzerland#cite_note-:5-2" id="mwA7o" style="counter-reset: mw-Ref 2;"><span class="mw-reflink-text" id="mwA7s">[2]</span></a></sup></p>
</section><section data-mw-section-id="25" id="mwA7w"><h4 id="Fines">Fines</h4>
<p id="mwA70">Swiss banks have collectively paid more than $12 billion in fines in recent years to the tax authorities in France, Germany, Italy, the United States and other countries for helping with tax evasion.<sup about="#mwt1010" class="mw-ref reference" data-mw='{"name":"ref","attrs":{},"body":{"id":"mw-reference-text-cite_note-127"}}' id="cite_ref-127" rel="dc:references" typeof="mw:Extension/ref"><a href="./Banking_in_Switzerland#cite_note-127" id="mwA74" style="counter-reset: mw-Ref 127;"><span class="mw-reflink-text" id="mwA78">[127]</span></a></sup> Starting in 2022, fines on Swiss banks abroad will be tax deductible (unless <a class="mw-redirect" href="./Money_laundering_in_Switzerland" id="mwA8A" rel="mw:WikiLink" title="Money laundering in Switzerland">crime is involved</a>).<sup about="#mwt1015" class="mw-ref reference" data-mw='{"name":"ref","attrs":{},"body":{"id":"mw-reference-text-cite_note-128"}}' id="cite_ref-128" rel="dc:references" typeof="mw:Extension/ref"><a href="./Banking_in_Switzerland#cite_note-128" id="mwA8E" style="counter-reset: mw-Ref 128;"><span class="mw-reflink-text" id="mwA8I">[128]</span></a></sup></p>
</section></section></section>