<section data-mw-section-id="41" id="mwBoE"><h2 id="Controversies">Controversies</h2>
<figure class="mw-default-size" id="mwBoI" typeof="mw:File/Thumb"><a class="mw-file-description" href="./File:Ibra.jpg" id="mwBoM"><img data-file-height="645" data-file-type="bitmap" data-file-width="764" decoding="async" height="186" id="mwBoQ" resource="./File:Ibra.jpg" src="//upload.wikimedia.org/wikipedia/commons/thumb/4/4c/Ibra.jpg/220px-Ibra.jpg" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/4/4c/Ibra.jpg/330px-Ibra.jpg 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/4/4c/Ibra.jpg/440px-Ibra.jpg 2x" width="220"/></a><figcaption id="mwBoU">Ibrahimović in 2009</figcaption></figure>
<link about="#mwt2337" data-mw='{"parts":[{"template":{"target":{"wt":"Quote box","href":"./Template:Quote_box"},"params":{"width":{"wt":"30%"},"align":{"wt":"right"},"quote":{"wt":"\"What [[John Carew|Carew]] does with a football, I can do with an orange.\""},"source":{"wt":"— Ibrahimović in 2002&lt;ref&gt;{{cite news|url=https://www.telegraph.co.uk/football/2016/01/29/zlatan-ibrahimovic-the-20-most-ridiculous-things-he-has-ever-sai/what-carew-does-with-a-football-i-can-do-with-an-orange/ |archive-url=https://ghostarchive.org/archive/20220110/https://www.telegraph.co.uk/football/2016/01/29/zlatan-ibrahimovic-the-20-most-ridiculous-things-he-has-ever-sai/what-carew-does-with-a-football-i-can-do-with-an-orange/ |archive-date=10 January 2022 |url-access=subscription |url-status=live|title=Zlatan Ibrahimovic: The 20 most ridiculous things he has ever said |work=The Telegraph|date=27 February 2017|access-date=7 May 2020}}{{cbignore}}&lt;/ref&gt;"}},"i":0}}]}' href="mw-data:TemplateStyles:r1062260506" id="mwBoY" rel="mw-deduplicated-inline-style" typeof="mw:Extension/templatestyles mw:Transclusion"/><div about="#mwt2337" class="quotebox pullquote floatright" id="mwBoc" style="
    width:30%; 
    
;
     
    
    ">
<blockquote class="quotebox-quote left-aligned" style="
    ">
<p>"What <a href="./John_Carew" rel="mw:WikiLink" title="John Carew">Carew</a> does with a football, I can do with an orange."</p>
</blockquote>
<p><cite class="left-aligned" style="">— Ibrahimović in 2002<sup about="#mwt2347" class="mw-ref reference" data-mw='{"name":"ref","attrs":{},"body":{"id":"mw-reference-text-cite_note-361"}}' id="cite_ref-361" rel="dc:references" typeof="mw:Extension/ref"><a href="./Zlatan_Ibrahimović#cite_note-361" id="mwBog" style="counter-reset: mw-Ref 360;"><span class="mw-reflink-text" id="mwBok">[360]</span></a></sup></cite></p>
</div>
<p id="mwBoo">Ibrahimović has been involved in several violent incidents with teammates. When he was playing for Malmö FF's junior team, Ibrahimović headbutted a teammate after he was tackled by him during a training session. The teammate's father, a police officer, wanted the other players to sign a petition to expel Ibrahimović from the team.<sup about="#mwt2355" class="mw-ref reference" data-mw='{"name":"ref","attrs":{"name":"thelocal"},"body":{"id":"mw-reference-text-cite_note-thelocal-362"}}' id="cite_ref-thelocal_362-0" rel="dc:references" typeof="mw:Extension/ref"><a href="./Zlatan_Ibrahimović#cite_note-thelocal-362" id="mwBos" style="counter-reset: mw-Ref 361;"><span class="mw-reflink-text" id="mwBow">[361]</span></a></sup> After a 2004 <a class="mw-redirect" href="./Friendly_(association_football)" id="mwBo0" rel="mw:WikiLink" title="Friendly (association football)">international friendly</a> against the <a href="./Netherlands_national_football_team" id="mwBo4" rel="mw:WikiLink" title="Netherlands national football team">Netherlands</a>, Ajax teammate <a href="./Rafael_van_der_Vaart" id="mwBo8" rel="mw:WikiLink" title="Rafael van der Vaart">Rafael van der Vaart</a> publicly accused Ibrahimović of deliberately injuring him during the game. Ibrahimović responded by threatening to break both of van der Vaart's legs.<sup about="#mwt2360" class="mw-ref reference" data-mw='{"name":"ref","attrs":{"name":"90min"},"body":{"id":"mw-reference-text-cite_note-90min-363"}}' id="cite_ref-90min_363-0" rel="dc:references" typeof="mw:Extension/ref"><a href="./Zlatan_Ibrahimović#cite_note-90min-363" id="mwBpA" style="counter-reset: mw-Ref 362;"><span class="mw-reflink-text" id="mwBpE">[362]</span></a></sup> Ibrahimović also reportedly punched Ajax teammate <a href="./Mido_(footballer)" id="mwBpI" rel="mw:WikiLink" title="Mido (footballer)">Mido</a> in the dressing room after the latter had thrown a pair of scissors at him.<sup about="#mwt2361" class="mw-ref reference" data-mw='{"name":"ref","attrs":{"name":"90min"}}' id="cite_ref-90min_363-1" rel="dc:references" typeof="mw:Extension/ref"><a href="./Zlatan_Ibrahimović#cite_note-90min-363" id="mwBpM" style="counter-reset: mw-Ref 362;"><span class="mw-reflink-text" id="mwBpQ">[362]</span></a></sup></p>
<p id="mwBpU">During his spell at Barcelona, Ibrahimović had a falling-out with coach <a href="./Pep_Guardiola" id="mwBpY" rel="mw:WikiLink" title="Pep Guardiola">Pep Guardiola</a>, culminating in a dressing room incident in which Ibrahimović allegedly threw a training-kit box across the room and screamed insults at Guardiola. Guardiola eventually refused to speak to Ibrahimović and loaned him out to Milan.<sup about="#mwt2365" class="mw-ref reference" data-mw='{"name":"ref","attrs":{"name":"Macdonald"}}' id="cite_ref-Macdonald_72-1" rel="dc:references" typeof="mw:Extension/ref"><a href="./Zlatan_Ibrahimović#cite_note-Macdonald-72" id="mwBpc" style="counter-reset: mw-Ref 71;"><span class="mw-reflink-text" id="mwBpg">[71]</span></a></sup> Barcelona vice president Carles Vilarrubi further revealed that Ibrahimović had threatened to publicly beat up Guardiola if he was not released to Milan.<sup about="#mwt2370" class="mw-ref reference" data-mw='{"name":"ref","attrs":{},"body":{"id":"mw-reference-text-cite_note-364"}}' id="cite_ref-364" rel="dc:references" typeof="mw:Extension/ref"><a href="./Zlatan_Ibrahimović#cite_note-364" id="mwBpk" style="counter-reset: mw-Ref 363;"><span class="mw-reflink-text" id="mwBpo">[363]</span></a></sup> Ibrahimović stated that Pep Guardiola was "not a man" during an interview with <a href="./CNN" id="mwBps" rel="mw:WikiLink" title="CNN">CNN</a> in November 2015.<sup about="#mwt2375" class="mw-ref reference" data-mw='{"name":"ref","attrs":{},"body":{"id":"mw-reference-text-cite_note-365"}}' id="cite_ref-365" rel="dc:references" typeof="mw:Extension/ref"><a href="./Zlatan_Ibrahimović#cite_note-365" id="mwBpw" style="counter-reset: mw-Ref 364;"><span class="mw-reflink-text" id="mwBp0">[364]</span></a></sup></p>
<p id="mwBp4">In 2010, Ibrahimović was involved in a training-ground fist-fight with Milan teammate <a href="./Oguchi_Onyewu" id="mwBp8" rel="mw:WikiLink" title="Oguchi Onyewu">Oguchi Onyewu</a>, after Ibrahimović had made a two-footed tackle on Onyewu, followed by a headbutt. The two were separated and the session prematurely abandoned, with Ibrahimović suffering a broken rib in the fracas. Both players had accused one of insulting the other.<sup about="#mwt2384" class="mw-ref reference" data-mw='{"name":"ref","attrs":{},"body":{"id":"mw-reference-text-cite_note-366"}}' id="cite_ref-366" rel="dc:references" typeof="mw:Extension/ref"><a href="./Zlatan_Ibrahimović#cite_note-366" id="mwBqA" style="counter-reset: mw-Ref 365;"><span class="mw-reflink-text" id="mwBqE">[365]</span></a></sup> In March 2011, Ibrahimović was given a three-match ban for punching <a href="./S.S.C._Bari" id="mwBqI" rel="mw:WikiLink" title="S.S.C. Bari">Bari</a> defender <a href="./Marco_Rossi_(footballer,_born_1987)" id="mwBqM" rel="mw:WikiLink" title="Marco Rossi (footballer, born 1987)">Marco Rossi</a> in the stomach during a game.<sup about="#mwt2389" class="mw-ref reference" data-mw='{"name":"ref","attrs":{},"body":{"id":"mw-reference-text-cite_note-367"}}' id="cite_ref-367" rel="dc:references" typeof="mw:Extension/ref"><a href="./Zlatan_Ibrahimović#cite_note-367" id="mwBqQ" style="counter-reset: mw-Ref 366;"><span class="mw-reflink-text" id="mwBqU">[366]</span></a></sup> He received another three-match ban in February 2012 for slapping <a href="./S.S.C._Napoli" id="mwBqY" rel="mw:WikiLink" title="S.S.C. Napoli">Napoli</a> player <a href="./Salvatore_Aronica" id="mwBqc" rel="mw:WikiLink" title="Salvatore Aronica">Salvatore Aronica</a>.<sup about="#mwt2395" class="mw-ref reference" data-mw='{"name":"ref","attrs":{},"body":{"id":"mw-reference-text-cite_note-368"}}' id="cite_ref-368" rel="dc:references" typeof="mw:Extension/ref"><a href="./Zlatan_Ibrahimović#cite_note-368" id="mwBqg" style="counter-reset: mw-Ref 367;"><span class="mw-reflink-text" id="mwBqk">[367]</span></a></sup> In 2011, Ibrahimović kicked teammate <a href="./Antonio_Cassano" id="mwBqo" rel="mw:WikiLink" title="Antonio Cassano">Antonio Cassano</a> in the head while Cassano was speaking to reporters.<sup about="#mwt2400" class="mw-ref reference" data-mw='{"name":"ref","attrs":{},"body":{"id":"mw-reference-text-cite_note-369"}}' id="cite_ref-369" rel="dc:references" typeof="mw:Extension/ref"><a href="./Zlatan_Ibrahimović#cite_note-369" id="mwBqs" style="counter-reset: mw-Ref 368;"><span class="mw-reflink-text" id="mwBqw">[368]</span></a></sup></p>
<figure class="mw-default-size mw-halign-left" id="mwBq0" typeof="mw:File/Thumb"><a class="mw-file-description" href="./File:Ibra_PSG.jpg" id="mwBq4"><img data-file-height="700" data-file-type="bitmap" data-file-width="465" decoding="async" height="256" id="mwBq8" resource="./File:Ibra_PSG.jpg" src="//upload.wikimedia.org/wikipedia/commons/thumb/a/a8/Ibra_PSG.jpg/170px-Ibra_PSG.jpg" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/a/a8/Ibra_PSG.jpg/255px-Ibra_PSG.jpg 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/a/a8/Ibra_PSG.jpg/340px-Ibra_PSG.jpg 2x" width="170"/></a><figcaption id="mwBrA">Ibrahimović (pictured at <a href="./Paris_Saint-Germain_F.C." id="mwBrE" rel="mw:WikiLink" title="Paris Saint-Germain F.C.">Paris Saint-Germain</a> in 2012) courted controversy while at the club, for abuse of match officials and for on-field violence against opposition players.</figcaption></figure>
<p id="mwBrI">In November 2012, while with Paris Saint-Germain, Ibrahimović received a two-match ban for kicking <a href="./AS_Saint-Étienne" id="mwBrM" rel="mw:WikiLink" title="AS Saint-Étienne">Saint-Étienne</a> goalkeeper <a href="./Stéphane_Ruffier" id="mwBrQ" rel="mw:WikiLink" title="Stéphane Ruffier">Stéphane Ruffier</a> in the chest.<sup about="#mwt2412" class="mw-ref reference" data-mw='{"name":"ref","attrs":{},"body":{"id":"mw-reference-text-cite_note-370"}}' id="cite_ref-370" rel="dc:references" typeof="mw:Extension/ref"><a href="./Zlatan_Ibrahimović#cite_note-370" id="mwBrU" style="counter-reset: mw-Ref 369;"><span class="mw-reflink-text" id="mwBrY">[369]</span></a></sup><sup about="#mwt2417" class="mw-ref reference" data-mw='{"name":"ref","attrs":{},"body":{"id":"mw-reference-text-cite_note-371"}}' id="cite_ref-371" rel="dc:references" typeof="mw:Extension/ref"><a href="./Zlatan_Ibrahimović#cite_note-371" id="mwBrc" style="counter-reset: mw-Ref 370;"><span class="mw-reflink-text" id="mwBrg">[370]</span></a></sup> In December 2012, he was accused by Lyon defender <a href="./Dejan_Lovren" id="mwBrk" rel="mw:WikiLink" title="Dejan Lovren">Dejan Lovren</a> and president <a href="./Jean-Michel_Aulas" id="mwBro" rel="mw:WikiLink" title="Jean-Michel Aulas">Jean-Michel Aulas</a> of deliberately stamping on Lovren's head. Lovren suggested the reason Ibrahimović had escaped punishment was due to his "superstar status".<sup about="#mwt2422" class="mw-ref reference" data-mw='{"name":"ref","attrs":{},"body":{"id":"mw-reference-text-cite_note-372"}}' id="cite_ref-372" rel="dc:references" typeof="mw:Extension/ref"><a href="./Zlatan_Ibrahimović#cite_note-372" id="mwBrs" style="counter-reset: mw-Ref 371;"><span class="mw-reflink-text" id="mwBrw">[371]</span></a></sup> In February 2013, <a href="./UEFA" id="mwBr0" rel="mw:WikiLink" title="UEFA">UEFA</a> handed Ibrahimović a two-match ban for stamping on <a href="./Valencia_CF" id="mwBr4" rel="mw:WikiLink" title="Valencia CF">Valencia</a> winger <a href="./Andrés_Guardado" id="mwBr8" rel="mw:WikiLink" title="Andrés Guardado">Andrés Guardado</a>.<sup about="#mwt2427" class="mw-ref reference" data-mw='{"name":"ref","attrs":{},"body":{"id":"mw-reference-text-cite_note-373"}}' id="cite_ref-373" rel="dc:references" typeof="mw:Extension/ref"><a href="./Zlatan_Ibrahimović#cite_note-373" id="mwBsA" style="counter-reset: mw-Ref 372;"><span class="mw-reflink-text" id="mwBsE">[372]</span></a></sup> In March 2013, PSG winger <a href="./Lucas_Moura" id="mwBsI" rel="mw:WikiLink" title="Lucas Moura">Lucas Moura</a> claimed that Ibrahimović regularly insulted teammates, stating, "He always asks for the ball and insults a lot. He is sometimes a bit arrogant and complains."<sup about="#mwt2432" class="mw-ref reference" data-mw='{"name":"ref","attrs":{},"body":{"id":"mw-reference-text-cite_note-374"}}' id="cite_ref-374" rel="dc:references" typeof="mw:Extension/ref"><a href="./Zlatan_Ibrahimović#cite_note-374" id="mwBsM" style="counter-reset: mw-Ref 373;"><span class="mw-reflink-text" id="mwBsQ">[373]</span></a></sup> Lucas later claimed, however, that the interview was twisted and badly translated.<sup about="#mwt2437" class="mw-ref reference" data-mw='{"name":"ref","attrs":{},"body":{"id":"mw-reference-text-cite_note-375"}}' id="cite_ref-375" rel="dc:references" typeof="mw:Extension/ref"><a href="./Zlatan_Ibrahimović#cite_note-375" id="mwBsU" style="counter-reset: mw-Ref 374;"><span class="mw-reflink-text" id="mwBsY">[374]</span></a></sup> In May 2013, Ibrahimović was filmed screaming at PSG sporting director <a href="./Leonardo_Araújo" id="mwBsc" rel="mw:WikiLink" title="Leonardo Araújo">Leonardo</a> after the club's title victory.<sup about="#mwt2442" class="mw-ref reference" data-mw='{"name":"ref","attrs":{},"body":{"id":"mw-reference-text-cite_note-376"}}' id="cite_ref-376" rel="dc:references" typeof="mw:Extension/ref"><a href="./Zlatan_Ibrahimović#cite_note-376" id="mwBsg" style="counter-reset: mw-Ref 375;"><span class="mw-reflink-text" id="mwBsk">[375]</span></a></sup></p>
<p id="mwBso">Lyon coach <a href="./Hubert_Fournier" id="mwBss" rel="mw:WikiLink" title="Hubert Fournier">Hubert Fournier</a> accused Ibrahimović of abusing officials, stating in January 2015 that "all the referees in this league get insulted by this person".<sup about="#mwt2451" class="mw-ref reference" data-mw='{"name":"ref","attrs":{},"body":{"id":"mw-reference-text-cite_note-377"}}' id="cite_ref-377" rel="dc:references" typeof="mw:Extension/ref"><a href="./Zlatan_Ibrahimović#cite_note-377" id="mwBsw" style="counter-reset: mw-Ref 376;"><span class="mw-reflink-text" id="mwBs0">[376]</span></a></sup> Two months later, following a Ligue 1 loss to <a href="./FC_Girondins_de_Bordeaux" id="mwBs4" rel="mw:WikiLink" title="FC Girondins de Bordeaux">Bordeaux</a>, Ibrahimović was recorded ranting about the level of officiating in the match, proclaiming: "In 15 years I've never seen a [good] referee in this shit country ... [they] don't even deserve PSG." He later apologised, but was criticised by French politicians,<sup about="#mwt2456" class="mw-ref reference" data-mw='{"name":"ref","attrs":{},"body":{"id":"mw-reference-text-cite_note-378"}}' id="cite_ref-378" rel="dc:references" typeof="mw:Extension/ref"><a href="./Zlatan_Ibrahimović#cite_note-378" id="mwBs8" style="counter-reset: mw-Ref 377;"><span class="mw-reflink-text" id="mwBtA">[377]</span></a></sup><sup about="#mwt2461" class="mw-ref reference" data-mw='{"name":"ref","attrs":{},"body":{"id":"mw-reference-text-cite_note-379"}}' id="cite_ref-379" rel="dc:references" typeof="mw:Extension/ref"><a href="./Zlatan_Ibrahimović#cite_note-379" id="mwBtE" style="counter-reset: mw-Ref 378;"><span class="mw-reflink-text" id="mwBtI">[378]</span></a></sup> and Ligue 1 imposed a four-match ban.<sup about="#mwt2466" class="mw-ref reference" data-mw='{"name":"ref","attrs":{},"body":{"id":"mw-reference-text-cite_note-380"}}' id="cite_ref-380" rel="dc:references" typeof="mw:Extension/ref"><a href="./Zlatan_Ibrahimović#cite_note-380" id="mwBtM" style="counter-reset: mw-Ref 379;"><span class="mw-reflink-text" id="mwBtQ">[379]</span></a></sup></p>
<figure class="mw-default-size" id="mwBtU" typeof="mw:File/Thumb"><a class="mw-file-description" href="./File:Ibrahimovic_in_Doha_Press_Conference.jpg" id="mwBtY"><img data-file-height="3404" data-file-type="bitmap" data-file-width="4457" decoding="async" height="168" id="mwBtc" resource="./File:Ibrahimovic_in_Doha_Press_Conference.jpg" src="//upload.wikimedia.org/wikipedia/commons/thumb/f/fc/Ibrahimovic_in_Doha_Press_Conference.jpg/220px-Ibrahimovic_in_Doha_Press_Conference.jpg" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/f/fc/Ibrahimovic_in_Doha_Press_Conference.jpg/330px-Ibrahimovic_in_Doha_Press_Conference.jpg 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/f/fc/Ibrahimovic_in_Doha_Press_Conference.jpg/440px-Ibrahimovic_in_Doha_Press_Conference.jpg 2x" width="220"/></a><figcaption id="mwBtg">Ibrahimović at a press conference in Qatar in 2013</figcaption></figure>
<p id="mwBtk">In 2013, Ibrahimović came under fire from the <a href="./Sweden_women's_national_football_team" id="mwBto" rel="mw:WikiLink" title="Sweden women's national football team">Sweden women's national team</a> for an interview published on Christmas Day by tabloid <i id="mwBts"><a href="./Expressen" id="mwBtw" rel="mw:WikiLink" title="Expressen">Expressen</a></i>, in which he had commented about the disparity of achievements by, and the treatment of, male and female footballers. His former teammate <a class="mw-redirect" href="./Anders_Svensson_(footballer,_born_1976)" id="mwBt0" rel="mw:WikiLink" title="Anders Svensson (footballer, born 1976)">Anders Svensson</a> had been rewarded with a car for becoming Sweden's most-<a href="./Cap_(sport)" id="mwBt4" rel="mw:WikiLink" title="Cap (sport)">capped</a> player that year, but <a href="./Therese_Sjögran" id="mwBt8" rel="mw:WikiLink" title="Therese Sjögran">Therese Sjögran</a> had received no such reward for doing likewise for the women's team, despite owning 41 more caps (187 to 146) than Svensson at the time.<sup about="#mwt2470" class="mw-ref reference" data-mw='{"name":"ref","attrs":{"name":"radio"}}' id="cite_ref-radio_381-0" rel="dc:references" typeof="mw:Extension/ref"><a href="./Zlatan_Ibrahimović#cite_note-radio-381" id="mwBuA" style="counter-reset: mw-Ref 380;"><span class="mw-reflink-text" id="mwBuE">[380]</span></a></sup> Ibrahimović's response to the issue was that Sweden would be "devaluing" Svensson "by comparing him with the ladies' individual achievements. They can get a bike with my autograph on it and then we're good."<sup about="#mwt2475" class="mw-ref reference" data-mw='{"name":"ref","attrs":{"name":"radio"},"body":{"id":"mw-reference-text-cite_note-radio-381"}}' id="cite_ref-radio_381-1" rel="dc:references" typeof="mw:Extension/ref"><a href="./Zlatan_Ibrahimović#cite_note-radio-381" id="mwBuI" style="counter-reset: mw-Ref 380;"><span class="mw-reflink-text" id="mwBuM">[380]</span></a></sup> Coach <a href="./Pia_Sundhage" id="mwBuQ" rel="mw:WikiLink" title="Pia Sundhage">Pia Sundhage</a> replied that his comments were "sad and unfortunate" and epitomised "failings in the basic values of male football", while Sjögran said, "I understand him when he says that the men's national team brings in more money and exposure. That's true. But this is about respect."<sup about="#mwt2476" class="mw-ref reference" data-mw='{"name":"ref","attrs":{"name":"radio"}}' id="cite_ref-radio_381-2" rel="dc:references" typeof="mw:Extension/ref"><a href="./Zlatan_Ibrahimović#cite_note-radio-381" id="mwBuU" style="counter-reset: mw-Ref 380;"><span class="mw-reflink-text" id="mwBuY">[380]</span></a></sup></p>
<figure class="mw-default-size mw-halign-left" id="mwBuc" typeof="mw:File/Thumb"><a class="mw-file-description" href="./File:Skärmavbild_2019-12-11_kl._12.09.42.jpg" id="mwBug"><img data-file-height="577" data-file-type="bitmap" data-file-width="379" decoding="async" height="259" id="mwBuk" resource="./File:Skärmavbild_2019-12-11_kl._12.09.42.jpg" src="//upload.wikimedia.org/wikipedia/commons/thumb/c/cb/Sk%C3%A4rmavbild_2019-12-11_kl._12.09.42.jpg/170px-Sk%C3%A4rmavbild_2019-12-11_kl._12.09.42.jpg" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/c/cb/Sk%C3%A4rmavbild_2019-12-11_kl._12.09.42.jpg/255px-Sk%C3%A4rmavbild_2019-12-11_kl._12.09.42.jpg 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/c/cb/Sk%C3%A4rmavbild_2019-12-11_kl._12.09.42.jpg/340px-Sk%C3%A4rmavbild_2019-12-11_kl._12.09.42.jpg 2x" width="170"/></a><figcaption id="mwBuo">The <a href="./Statue_of_Zlatan" id="mwBus" rel="mw:WikiLink" title="Statue of Zlatan">Statue of Zlatan</a> was unveiled in Malmö in 2019. After he invested in rival club <a href="./Hammarby_Fotboll" id="mwBuw" rel="mw:WikiLink" title="Hammarby Fotboll">Hammarby</a>, Malmö fans vandalized the statue with spray paint and set it ablaze, before it was removed from its plinth on 5 January 2020.<sup about="#mwt2482" class="mw-ref reference" data-mw='{"name":"ref","attrs":{},"body":{"id":"mw-reference-text-cite_note-382"}}' id="cite_ref-382" rel="dc:references" typeof="mw:Extension/ref"><a href="./Zlatan_Ibrahimović#cite_note-382" id="mwBu0" style="counter-reset: mw-Ref 381;"><span class="mw-reflink-text" id="mwBu4">[381]</span></a></sup></figcaption></figure>
<p id="mwBu8">On 21 May 2018, Ibrahimović was sent off for slapping <a href="./CF_Montréal" id="mwBvA" rel="mw:WikiLink" title="CF Montréal">Montreal Impact</a> player <a href="./Michael_Petrasso" id="mwBvE" rel="mw:WikiLink" title="Michael Petrasso">Michael Petrasso</a> in the head, after the latter had stepped on his foot.<sup about="#mwt2490" class="mw-ref reference" data-mw='{"name":"ref","attrs":{},"body":{"id":"mw-reference-text-cite_note-383"}}' id="cite_ref-383" rel="dc:references" typeof="mw:Extension/ref"><a href="./Zlatan_Ibrahimović#cite_note-383" id="mwBvI" style="counter-reset: mw-Ref 382;"><span class="mw-reflink-text" id="mwBvM">[382]</span></a></sup> In April 2019, <a href="./Real_Salt_Lake" id="mwBvQ" rel="mw:WikiLink" title="Real Salt Lake">Real Salt Lake</a> defender <a href="./Nedum_Onuoha" id="mwBvU" rel="mw:WikiLink" title="Nedum Onuoha">Nedum Onuoha</a> accused Ibrahimović of foul play and threats to injure him during a game, calling him "arrogant", "disrespectful", and "a complete thug".<sup about="#mwt2495" class="mw-ref reference" data-mw='{"name":"ref","attrs":{},"body":{"id":"mw-reference-text-cite_note-384"}}' id="cite_ref-384" rel="dc:references" typeof="mw:Extension/ref"><a href="./Zlatan_Ibrahimović#cite_note-384" id="mwBvY" style="counter-reset: mw-Ref 383;"><span class="mw-reflink-text" id="mwBvc">[383]</span></a></sup> In May 2019, Ibrahimović received a two-match ban for violent conduct, after he had grabbed <a href="./New_York_City_FC" id="mwBvg" rel="mw:WikiLink" title="New York City FC">New York City FC</a> goalkeeper <a href="./Sean_Johnson_(soccer)" id="mwBvk" rel="mw:WikiLink" title="Sean Johnson (soccer)">Sean Johnson</a> by the neck.<sup about="#mwt2500" class="mw-ref reference" data-mw='{"name":"ref","attrs":{},"body":{"id":"mw-reference-text-cite_note-385"}}' id="cite_ref-385" rel="dc:references" typeof="mw:Extension/ref"><a href="./Zlatan_Ibrahimović#cite_note-385" id="mwBvo" style="counter-reset: mw-Ref 384;"><span class="mw-reflink-text" id="mwBvs">[384]</span></a></sup></p>
<p id="mwBvw">On 20 July 2019, Ibrahimović elbowed <a href="./Mohamed_El_Monir" id="mwBv0" rel="mw:WikiLink" title="Mohamed El Monir">Mohamed El Monir</a> during a match with the LA Galaxy against <a href="./Los_Angeles_FC" id="mwBv4" rel="mw:WikiLink" title="Los Angeles FC">Los Angeles FC</a>, then had an altercation after the match with their goalkeeping coach <a href="./Zak_Abdel" id="mwBv8" rel="mw:WikiLink" title="Zak Abdel">Zak Abdel</a>, telling him: "Go home. You little bitch. Go home".<sup about="#mwt2509" class="mw-ref reference" data-mw='{"name":"ref","attrs":{},"body":{"id":"mw-reference-text-cite_note-386"}}' id="cite_ref-386" rel="dc:references" typeof="mw:Extension/ref"><a href="./Zlatan_Ibrahimović#cite_note-386" id="mwBwA" style="counter-reset: mw-Ref 385;"><span class="mw-reflink-text" id="mwBwE">[385]</span></a></sup> More controversy followed suit when, following Galaxy's loss to <a href="./El_Tráfico" id="mwBwI" rel="mw:WikiLink" title="El Tráfico">crosstown rivals</a> Los Angeles in the <a href="./2019_MLS_Cup_Playoffs" id="mwBwM" rel="mw:WikiLink" title="2019 MLS Cup Playoffs">playoffs</a>, Ibrahimović was seen making obscene gestures towards heckling fans as he left the pitch.<sup about="#mwt2514" class="mw-ref reference" data-mw='{"name":"ref","attrs":{},"body":{"id":"mw-reference-text-cite_note-387"}}' id="cite_ref-387" rel="dc:references" typeof="mw:Extension/ref"><a href="./Zlatan_Ibrahimović#cite_note-387" id="mwBwQ" style="counter-reset: mw-Ref 386;"><span class="mw-reflink-text" id="mwBwU">[386]</span></a></sup> In November 2019, Ibrahimović bought a 23.5% stake in Stockholm-based club <a href="./Hammarby_Fotboll" id="mwBwY" rel="mw:WikiLink" title="Hammarby Fotboll">Hammarby</a>, who were the rivals of the striker's boyhood team, Malmö FF. In a statement, Ibrahimović expressed his admiration for the club and its fans, and how he was excited for the opportunity to support "one of the most interesting and influential clubs in Sweden."<sup about="#mwt2519" class="mw-ref reference" data-mw='{"name":"ref","attrs":{},"body":{"id":"mw-reference-text-cite_note-388"}}' id="cite_ref-388" rel="dc:references" typeof="mw:Extension/ref"><a href="./Zlatan_Ibrahimović#cite_note-388" id="mwBwc" style="counter-reset: mw-Ref 387;"><span class="mw-reflink-text" id="mwBwg">[387]</span></a></sup> However, this investment decision infuriated many fans of Malmö who considered it a betrayal, and they vandalized <a href="./Statue_of_Zlatan" id="mwBwk" rel="mw:WikiLink" title="Statue of Zlatan">his bronze statue</a> and set it ablaze. Ibrahimović responded to the incident by claiming that the decision had nothing to do with where he began his career.<sup about="#mwt2524" class="mw-ref reference" data-mw='{"name":"ref","attrs":{},"body":{"id":"mw-reference-text-cite_note-389"}}' id="cite_ref-389" rel="dc:references" typeof="mw:Extension/ref"><a href="./Zlatan_Ibrahimović#cite_note-389" id="mwBwo" style="counter-reset: mw-Ref 388;"><span class="mw-reflink-text" id="mwBws">[388]</span></a></sup></p>
<p id="mwBww">Ibrahimović received a one-match ban following an altercation with former teammate <a href="./Romelu_Lukaku" id="mwBw0" rel="mw:WikiLink" title="Romelu Lukaku">Romelu Lukaku</a> in his side's <a href="./2020–21_Coppa_Italia" id="mwBw4" rel="mw:WikiLink" title="2020–21 Coppa Italia">Coppa Italia</a> fixture against Inter Milan in January 2021, in which pitchside microphones picked up Ibrahimović repeatedly telling Lukaku, "Go do your voodoo shit", calling him a "little donkey", and telling him to "call [his] mother".<sup about="#mwt2534" class="mw-ref reference" data-mw='{"name":"ref","attrs":{},"body":{"id":"mw-reference-text-cite_note-390"}}' id="cite_ref-390" rel="dc:references" typeof="mw:Extension/ref"><a href="./Zlatan_Ibrahimović#cite_note-390" id="mwBw8" style="counter-reset: mw-Ref 389;"><span class="mw-reflink-text" id="mwBxA">[389]</span></a></sup><sup about="#mwt2539" class="mw-ref reference" data-mw='{"name":"ref","attrs":{},"body":{"id":"mw-reference-text-cite_note-391"}}' id="cite_ref-391" rel="dc:references" typeof="mw:Extension/ref"><a href="./Zlatan_Ibrahimović#cite_note-391" id="mwBxE" style="counter-reset: mw-Ref 390;"><span class="mw-reflink-text" id="mwBxI">[390]</span></a></sup> Ibrahimović denied accusations of racism, posting on <a href="./Twitter" id="mwBxM" rel="mw:WikiLink" title="Twitter">Twitter</a>: "there is no place for racism."<sup about="#mwt2544" class="mw-ref reference" data-mw='{"name":"ref","attrs":{},"body":{"id":"mw-reference-text-cite_note-392"}}' id="cite_ref-392" rel="dc:references" typeof="mw:Extension/ref"><a href="./Zlatan_Ibrahimović#cite_note-392" id="mwBxQ" style="counter-reset: mw-Ref 391;"><span class="mw-reflink-text" id="mwBxU">[391]</span></a></sup> An investigation was opened by the <a href="./Italian_Football_Federation" id="mwBxY" rel="mw:WikiLink" title="Italian Football Federation">Italian Football Federation</a>, with a potential ten-match ban for Ibrahimović if found guilty of racial abuse.<sup about="#mwt2549" class="mw-ref reference" data-mw='{"name":"ref","attrs":{},"body":{"id":"mw-reference-text-cite_note-393"}}' id="cite_ref-393" rel="dc:references" typeof="mw:Extension/ref"><a href="./Zlatan_Ibrahimović#cite_note-393" id="mwBxc" style="counter-reset: mw-Ref 392;"><span class="mw-reflink-text" id="mwBxg">[392]</span></a></sup> However, it was reported in March that he had been cleared of the charge, as the incident was deemed purely unsportsmanlike and only warranted a fine.<sup about="#mwt2554" class="mw-ref reference" data-mw='{"name":"ref","attrs":{},"body":{"id":"mw-reference-text-cite_note-394"}}' id="cite_ref-394" rel="dc:references" typeof="mw:Extension/ref"><a href="./Zlatan_Ibrahimović#cite_note-394" id="mwBxk" style="counter-reset: mw-Ref 393;"><span class="mw-reflink-text" id="mwBxo">[393]</span></a></sup></p>
<p id="mwBxs">In April 2021, Ibrahimović was investigated by UEFA over alleged financial interest in a betting company called "Bethard".<sup about="#mwt2562" class="mw-ref reference" data-mw='{"name":"ref","attrs":{},"body":{"id":"mw-reference-text-cite_note-395"}}' id="cite_ref-395" rel="dc:references" typeof="mw:Extension/ref"><a href="./Zlatan_Ibrahimović#cite_note-395" id="mwBxw" style="counter-reset: mw-Ref 394;"><span class="mw-reflink-text" id="mwBx0">[394]</span></a></sup><sup about="#mwt2567" class="mw-ref reference" data-mw='{"name":"ref","attrs":{},"body":{"id":"mw-reference-text-cite_note-396"}}' id="cite_ref-396" rel="dc:references" typeof="mw:Extension/ref"><a href="./Zlatan_Ibrahimović#cite_note-396" id="mwBx4" style="counter-reset: mw-Ref 395;"><span class="mw-reflink-text" id="mwBx8">[395]</span></a></sup> A month later, he was fined €50,000 by UEFA for breaking disciplinary regulations related to his interest in the aforementioned betting company.<sup about="#mwt2572" class="mw-ref reference" data-mw='{"name":"ref","attrs":{},"body":{"id":"mw-reference-text-cite_note-397"}}' id="cite_ref-397" rel="dc:references" typeof="mw:Extension/ref"><a href="./Zlatan_Ibrahimović#cite_note-397" id="mwByA" style="counter-reset: mw-Ref 396;"><span class="mw-reflink-text" id="mwByE">[396]</span></a></sup></p>
</section>